extend admin
block head
  script(type="application/javascript", src="/scripts/admin/languages/#{path}-#{language}.js")
  script(type="application/javascript", src="/scripts/admin/admin-list.js")
  script(type="application/javascript", src="/scripts/admin/admin-general.js")
block actions
  .actions#append
    if(pathEmployees_ || pathUsers_ || pathStates_ || pathCities_ || pathLocations_ || pathCategories_ || pathClasses_ || pathGenerations_)
      button.ui.button#add
        i.icon.plus
        | #{languages.strings(language, 'add')}
    if(pathGenerations_)
      .dateFilter
        input.ui.calendar#filterDateFrom(type="text", name="filterDateFrom", placeholder=languages.strings(language, 'filterDateFrom'))
        input.ui.calendar#filterDateTo(type="text", name="filterDateTo", placeholder=languages.strings(language, 'filterDateTo'))
    .ui.message.error#message
      ul.list.content
