extend admin
block head
  script(type="application/javascript", src="/js/validator.js")
  script(type="application/javascript", src="/js/datatables.js")
  script(type="application/javascript", src="/js/jsBarcode.js")
  script(type="application/javascript", src="/scripts/admin/languages/#{pathParent}-#{language}.js")
  script(type="application/javascript", src="/scripts/admin/admin-single.js")
  script(type="application/javascript", src="/scripts/admin/admin-general.js")
  if(edit_)
    script(type="application/javascript", src="/scripts/admin/admin-partials.js")
    script(type="application/javascript", src="/scripts/admin/partials/contracts.js")
    script(type="application/javascript", src="/scripts/admin/partials/payments.js")
    script(type="application/javascript", src="/scripts/admin/partials/clinical.js")
    script(type="application/javascript", src="/scripts/admin/partials/dietary.js")
    script(type="application/javascript", src="/scripts/admin/partials/anthropometric.js")
    script(type="application/javascript", src="/scripts/admin/partials/tests.js")
    script(type="application/javascript", src="/scripts/admin/partials/photos.js")
    script(type="application/javascript", src="/scripts/admin/partials/assistance.js")
block actions
  .actions#fixed
    if(pathEmployees_ || pathUsers_ || pathStates_ || pathCities_ || pathLocations_ || pathCategories_ || pathClasses_ || pathGenerations_ || pathProfileEmployee_ || pathProfileUser_)
      button.ui.button#save
        i.icon.save
        | #{(add_ ? languages.strings(language, 'add') : languages.strings(language, 'save'))}
    if(pathEmployees_ || pathUsers_ || pathStates_ || pathCities_ || pathLocations_ || pathCategories_ || pathCategories_ || pathClasses_ || pathGenerations_)
      button.ui.button#cancel
        i.icon.cancel
        | #{languages.strings(language, 'cancel')}
    if(edit_ && (pathEmployees_ || pathUsers_ || pathStates_ || pathCities_ || pathLocations_ || pathCategories_ || pathClasses_ || pathGenerations_))
      button.ui.button#delete
        i.icon.trash
        | #{languages.strings(language, 'delete')}
    .ui.message.error#message
      ul.list.content
