doctype
include ./admin-general.jade
html(lang="#{language}")
  head
    meta(charset="UTF-8")
    title #{title} - #{languages.strings(language, 'brand')}
    link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.png")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    link(rel="stylesheet", type="text/css", href="/css/semantic.css")
    link(rel="stylesheet", type="text/css", href="/styles/admin.css")
    link(rel="stylesheet", type="text/css", href="/css/datepicker.css")
    script(type="application/javascript", src="/js/jquery.js")
    script(type="application/javascript", src="/js/semantic.js")
    script(type="application/javascript", src="/js/validator.js")
    script(type="application/javascript", src="/js/datepicker.js")
    script(type="application/javascript", src="/js/datatables.js")
    script(type="application/javascript", src="/js/datatablesbuttons.js")
    block head
    script(type="application/javascript", src="/scripts/admin/#{path}.js")
    script(type="application/javascript", src="/scripts/admin/languages/languages-#{language}.js")
    script(type="application/javascript", src="/scripts/admin/admin.js")
    script(type="application/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-87686823-1', 'auto');
      ga('send', 'pageview');
  body
    #main
      .inner
        .ui.menu.vertical#sidebar
          //.ui.header#header
            .logo
              img.ui.image(src="/images/logo_dark.png" alt=languages.strings(language, 'brand'), title=languages.strings(language, 'brand'))
          include ./partials/sidebar.jade
        #content
          .content.wrapper
            .ui.header#header
              .ui.title
                .title #{title}
              .ui.breadcrumb.small
                include ./partials/breadcrumb.jade
            if(description)
              .sub.header #{description}
            block content
            block actions
        .ui.footer#footer
