- var readonly_ = (data ? (data._id ? true : false) : false)
- var add_ = (data ? (data._id ? false : true) : true)
- var edit_ = (data ? (data._id ? true : false) : false)
- var roleSystem_ = (user ? (user.role == 'system' ? true : false) : false)
- var roleNutrologist_ = (user ? (user.role == 'nutrologist' ? true : false) : false)
- var roleReceptionist_ = (user ? (user.role == 'receptionist' ? true : false) : false)
- var roleUser_ = (user ? (user.role == 'user' ? true : false) : false)
- var pathEmployees_ = (path.indexOf('employees') >= 0 ? (title != languages.strings(language, 'profile') ? true : false) : false)
- var pathUsers_ = (path.indexOf('users') >= 0 ? (title != languages.strings(language, 'profile') ? true : false) : false)
- var pathStates_ = (path.indexOf('states') >= 0 ? true : false)
- var pathCities_ = (path.indexOf('cities') >= 0 ? true : false)
- var pathLocations_ = (path.indexOf('locations') >= 0 ? true : false)
- var pathCategories_ = (path.indexOf('categories') >= 0 ? true : false)
- var pathClasses_ = (path.indexOf('classes') >= 0 ? true : false)
- var pathGenerations_ = (path.indexOf('generations') >= 0 ? true : false)
- var pathProfileEmployee_ = (path.indexOf('employees') >= 0 ? (title == languages.strings(language, 'profile') ? true : false) : false)
- var pathProfileUser_ = (path.indexOf('users') >= 0 ? (title == languages.strings(language, 'profile') ? true : false) : false)
- var users_ = (data ? (data.users ? (data.users.length > 0 ? true : false) : false) : false)
- var contracts_ = (data ? (data.contracts ? (data.contracts.length > 0 ? true : false) : false) : false)
- var payments_ = (data ? (data.payments ? (data.payments.length > 0 ? true : false) : false) : false)
- var clinical_ = (data ? (data.clinical ? (data.clinical.length > 0 ? true : false) : false) : false)
- var dietary_ = (data ? (data.dietary ? (data.dietary.length > 0 ? true : false) : false) : false)
- var anthropometric_ = (data ? (data.anthropometric ? (data.anthropometric.length > 0 ? true : false) : false) : false)
- var tests_ = (data ? (data.tests ? (data.tests.length > 0 ? true : false) : false) : false)
- var photos_ = (data ? (data.photos ? (data.photos.length > 0 ? true : false) : false) : false)
- var assistance_ = (data ? (data.assistance ? (data.assistance.length > 0 ? true : false) : false) : false)
- var states_ = (data ? (data.states ? (data.states.length > 0 ? true : false) : false) : false)
- var cities_ = (data ? (data.cities ? (data.cities.length > 0 ? true : false) : false) : false)
- var locations_ = (data ? (data.locations ? (data.locations.length > 0 ? true : false) : false) : false)
- var categories_ = (data ? (data.categories ? (data.categories.length > 0 ? true : false) : false) : false)
- var classes_ = (data ? (data.classes ? (data.classes.length > 0 ? true : false) : false) : false)
- var generations_ = (data ? (data.generations ? (data.generations.length > 0 ? true : false) : false) : false)
- var user_ = (data ? (data.user ? true : false) : false)
- var state_ = (data ? (data.state ? true : false) : false)
- var city_ = (data ? (data.city ? true : false) : false)
- var location_ = (data ? (data.location ? true : false) : false)
- var category_ = (data ? (data.category ? true : false) : false)
- var generation_ = (data ? (data.generation ? true : false) : false)
- function formatDateTime(dateString){
  - if(typeof dateString === 'undefined'){
    - return '-'
  - }
  - else {
    - var date = new Date(dateString)
    - var day = date.getDate()
    - var month = date.getMonth()
    - var year = date.getFullYear().toString().substr(2, 2)
    - var hours = date.getHours()
    - var minutes = date.getMinutes()
    - var seconds = date.getSeconds()
    - return (day <= 9 ? '0' + day : day) + '/' + (month <= 9 ? '0' + month : month) + '/' + year + ' ' + (hours <= 9 ? '0' + hours : hours) + ':' + (minutes <= 9 ? '0' + minutes : minutes) + ':' + (seconds <= 9 ? '0' + seconds : seconds)
  - }
- }
- function formatDate(dateString){
  - if(typeof dateString === 'undefined'){
    - return '-'
  - }
  - else {
    - var date = new Date(dateString)
    - var day = date.getDate()
    - var month = date.getMonth()
    - var year = date.getFullYear()
    - return (day <= 9 ? '0' + day : day) + '/' + (month <= 9 ? '0' + month : month) + '/' + year
  - }
- }
- function formatHour(dateString){
  - if(typeof dateString === 'undefined'){
    - return '-'
  - }
  - else {
    - var date = new Date(dateString)
    - var hours = date.getHours()
    - var minutes = date.getMinutes()
    - return (hours <= 9 ? '0' + hours : hours) + ':' + (minutes <= 9 ? '0' + minutes : minutes)
  - }
- }
