extend admin-single
block content
  form.ui.form#form(method="post")
    input#_id(type="hidden", name="_id", placeholder="ID", value=(data ? (data._id ? data._id : "") : ""), readonly)
    .ui.pointing.secondary.menu
      a.active.item(data-tab='general')
        i.icon.cubes
        | #{languages.strings(language, 'general')}
      if(classes_)
        a.item(data-tab='aditional')
          i.icon.browser
          | #{languages.strings(language, 'aditional')}
    .ui.bottom.attached.active.tab.segment(data-tab='general')
      .section.info
        .fields
          .five.wide.field
            .field.required#name_
              label #{languages.strings(language, 'name')}
              input#name(type="text", name="name", placeholder=languages.strings(language, 'name'), value=(data ? (data.name ? data.name : "") : ""), autofocus)
    if(classes_ || generations_)
      .ui.bottom.attached.tab.segment(data-tab='aditional')
        .section.info
          .fields
            if(classes_)
              .five.wide.field
                .field#classes_
                  label #{languages.strings(language, 'classes')}
                  .block
                    table.ui.table.striped#table
                      tbody
                        each item in data.classes
                          tr
                            td
                              a(href="/admin/classes/edit/#{item._id}", title=item.startTime.hours + ':' + item.startTime.minutes + ' ' + languages.strings(language, item.startTime.ampm) + ' ' + ' | ' + item.location.name + ' | ' + item.classRoom) #{item.startTime.hours}:#{item.startTime.minutes} #{languages.strings(language, item.startTime.ampm)} | #{item.location.name} | #{languages.strings(language, 'classRoom')} #{item.classRoom}
            if(generations_)
              .five.wide.field
                .field#generations_
                  label #{languages.strings(language, 'generations')}
                  .block
                    table.ui.table.striped#table
                      tbody
                        each item in data.generations
                          tr
                            td
                              a(href="/admin/generations/edit/#{item._id}", title=item.name) #{item.name}
