extend admin-single
block content
  form.ui.form#form(method="post")
    input#_id(type="hidden", name="_id", placeholder="ID", value=(data ? (data._id ? data._id : "") : ""), readonly)
    .ui.pointing.secondary.menu
      a.active.item(data-tab='general')
        i.icon.location.arrow
        | #{languages.strings(language, 'general')}
      if(users_ || locations_)
        a.item(data-tab='aditional')
          i.icon.browser
          | #{languages.strings(language, 'aditional')}
    .ui.bottom.attached.active.tab.segment(data-tab='general')
      .section.info
        .fields
          .five.wide.field
            .field.required#name_
              label #{languages.strings(language, 'name')}
              input#name(type="text", name="name", placeholder=languages.strings(language, 'name'), value=(data ? (data.name ? data.name : "") : ""), autofocus)
          .five.wide.field
            .field.required#state_
              label #{languages.strings(language, 'state')}
              select.ui.dropdown.fluid.search#state(type="text", name="state")
                option(value="", selected="selected") #{languages.strings(language, 'state')}
                if(states)
                  each item in states
                    - var selected = (data ? (data.state ? (data.state._id == item._id ? true : false) : false) : false)
                      option(value=item._id, selected=selected) #{item.name}
    if(users_ || locations_)
      .ui.bottom.attached.tab.segment(data-tab='aditional')
        .section.info
          .fields
            if(users_)
              .five.wide.field
                .field#users_
                  label #{languages.strings(language, 'users')}
                  .block
                    table.ui.table.striped#table
                      tbody
                        each item in data.users
                          if(item.role == 'user')
                            tr
                              td
                                a(href="/admin/users/edit/#{item._id}", title=item.name + ' ' + item.lastName) #{item.name} #{item.lastName}
            if(locations_)
              .five.wide.field
                .field#locations_
                  label #{languages.strings(language, 'locations')}
                  .block
                    table.ui.table.striped#table
                      tbody
                        each item in data.locations
                          tr
                            td
                              a(href="/admin/locations/edit/#{item._id}", title=item.name) #{item.name}
