extend admin-list
block content
  .section.info
    table.ui.table.striped.unstackable#table
      thead
        tr
          td #{languages.strings(language, 'id')}
          td #{languages.strings(language, 'name')}
          td #{languages.strings(language, 'state')}
          td
            span.info(title=languages.strings(language, 'users'))
              i.icon.users
          td
            span.info(title=languages.strings(language, 'locations'))
              i.icon.building
          td
            span.info(title=languages.strings(language, 'actions'))
              i.icon.write
      tbody
        each item in data
          tr
            td #{item._id}
            td #{item.name}
            td #{(item.state ? item.state.name : '')}
            td #{(item.users ? (item.users.length > 0 ? item.users.length : '-') : '-')}
            td #{(item.locations ? (item.locations.length > 0 ? item.locations.length : '-') : '-')}
            td
              a.ui.button.delete.info(href="#", title=languages.strings(language, 'delete'))
                i.icon.trash
      tfoot
        tr
          td
          td.input
          td.select
          td
          td
          td
