extend admin-list
block content
  .section.info
    table.ui.table.striped.unstackable#table
      thead
        tr
          td #{languages.strings(language, 'id')}
          td #{languages.strings(language, 'startTime')}
          td #{languages.strings(language, 'ampm')}
          td #{languages.strings(language, 'location')}
          td #{languages.strings(language, 'category')}
          td #{languages.strings(language, 'classRoom')}
          td
            span.info(title=languages.strings(language, 'users'))
              i.icon.users
          td
            span.info(title=languages.strings(language, 'actions'))
              i.icon.write
      tbody
        each item in data
          tr
            td #{item._id}
            td #{item.startTime.hours}:#{item.startTime.minutes}
            td #{languages.strings(language, item.startTime.ampm)}
            td #{(item.location ? item.location.name : '')}
            td #{(item.category ? item.category.name : '')}
            td #{item.classRoom}
            td #{(item.users ? (item.users.length > 0 ? item.users.length : '-') : '-')}
            td
              a.ui.button.delete.info(href="#", title=languages.strings(language, 'delete'))
                i.icon.trash
      tfoot
        tr
          td
          td.select
          td.select
          td.select
          td.select
          td.select
          td
          td
