extend admin-single
block content
  form.ui.form#form(method="post")
    input#_id(type="hidden", name="_id", placeholder="ID", value=(data ? (data._id ? data._id : "") : ""), readonly)
    .ui.pointing.secondary.menu
      a.active.item(data-tab='general')
        i.icon.calendar
        | #{languages.strings(language, 'general')}
      if(users_)
        a.item(data-tab='aditional')
          i.icon.browser
          | #{languages.strings(language, 'aditional')}
    .ui.bottom.attached.active.tab.segment(data-tab='general')
      .section.info
        .fields
          .five.wide.field.required
            label #{languages.strings(language, 'startTime')}
            .fields.three
              .field.required#startTimeHours_
                select.ui.dropdown.fluid.search#startTimeHours(type="text", name="startTimeHours")
                  option(value="", selected="selected") #{languages.strings(language, 'hours')}
                  if(hours)
                    each item in hours
                      - var selected = (data ? (data.startTime.hours ? (data.startTime.hours == item ? true : false) : false) : false)
                        option(value=item, selected=selected) #{item}
              .field.required#startTimeMinutes_
                select.ui.dropdown.fluid.search#startTimeMinutes(type="text", name="startTimeMinutes")
                  option(value="", selected="selected") #{languages.strings(language, 'minutes')}
                  if(minutes)
                    each item in minutes
                      - var selected = (data ? (data.startTime.minutes ? (data.startTime.minutes == item ? true : false) : false) : false)
                        option(value=item, selected=selected) #{item}
              .field.required#startTimeAmpm_
                select.ui.dropdown.fluid.search#startTimeAmpm(type="text", name="startTimeAmpm")
                  option(value="", selected="selected") #{languages.strings(language, 'ampm')}
                  if(ampm)
                    each item in ampm
                      - var selected = (data ? (data.startTime.ampm ? (data.startTime.ampm == item ? true : false) : false) : false)
                      option(value=item, selected=selected) #{languages.strings(language, item)}
          .five.wide.field
            .field.required#location_
              label #{languages.strings(language, 'location')}
              select.ui.dropdown.fluid.search#location(type="text", name="location")
                option(value="", selected="selected") #{languages.strings(language, 'location')}
                if(locations)
                  each item in locations
                    - var selected = (data ? (data.location ? (data.location._id == item._id ? true : false) : false) : false)
                      option(value=item._id, selected=selected) #{item.name}
        .fields
          .five.wide.field
            .field.required#category_
              label #{languages.strings(language, 'category')}
              select.ui.dropdown.fluid.search#category(type="text", name="category")
                option(value="", selected="selected") #{languages.strings(language, 'category')}
                if(categories)
                  each item in categories
                    - var selected = (data ? (data.category ? (data.category._id == item._id ? true : false) : false) : false)
                      option(value=item._id, selected=selected) #{item.name}
          .five.wide.field
            .field.required#classRoom_
              label #{languages.strings(language, 'classRoom')}
              input#classRoom(type="text", name="classRoom", placeholder=languages.strings(language, 'classRoom'), value=(data ? (data.classRoom ? data.classRoom : "") : ""))
      if(users_)
        .section.info
          .fields
            if(users_)
              .five.wide.field
                .field#users_
                  label #{languages.strings(language, 'users')}
                  .block
                    table.ui.table.striped#table
                      tbody
                        each item in data.users
                          tr
                            td
                              a(href="/admin/users/edit/#{item._id}", title=item.name + ' ' + item.lastName) #{item.name} #{item.lastName}
