extend admin-single
block content
  form.ui.form#form(method="post", autocomplete="off", enctype="multipart/form-data")
    input#_id(type="hidden", name="_id", placeholder="ID", value=(data ? (data._id ? data._id : "") : ""), readonly)
    .ui.pointing.secondary.menu
      a.active.item(data-tab='general')
        i.icon.user
        | #{languages.strings(language, 'general')}
      if(edit_)
        a.item(data-tab='labor')
          i.icon.suitcase
          | #{languages.strings(language, 'labor')}
    .ui.bottom.attached.active.tab.segment(data-tab='general')
      .section.info
        .fields
          .five.wide.field
            .field.required#name_
              label #{languages.strings(language, 'name')}
              input#name(type="text", name="name", placeholder=languages.strings(language, 'name'), value=(data ? (data.name ? data.name : "") : ""), autofocus)
          .five.wide.field
            .field.required#lastName_
              label #{languages.strings(language, 'lastName')}
              input#lastName(type="text", name="lastName", placeholder=languages.strings(language, 'lastName'), value=(data ? (data.lastName ? data.lastName : "") : ""))
          .five.wide.field
            .field.required#role_(class=(roleUser_ ? 'hidden' : ''))
              label #{languages.strings(language, 'role')}
              select.ui.dropdown.fluid.search#role(type="text", name="role")
                option(value="", selected="selected") #{languages.strings(language, 'role')}
                if(roles)
                  each item in roles
                    if(roleSystem_ && item.key != 'user')
                      - var selected = (data ? (data.role ? (data.role == item.key ? true : false) : false) : false)
                        option(value=item.key, selected=selected) #{item.val}
        .fields
          .five.wide.field
            .field.required#email_
              label #{languages.strings(language, 'email')}
              input#email(type="text", name="email", placeholder=languages.strings(language, 'email'), value=(data ? (data.email ? data.email : "") : ""), readonly=readonly_)
          if(edit_)
            .five.wide.field
              .field.required#password_
                label #{languages.strings(language, 'password')}
                input#password.pop(type="password", name="password", placeholder=languages.strings(language, 'password'), value=(data ? (data.password ? data.password : "") : ""), title=languages.strings(language, 'enterNewPassword'), style="display:none")
                button.ui.button.inline.pop#newPassword
                  i.icon.edit
                  span #{languages.strings(language, 'enterNewPassword')}
          .five.wide.field
            .field#avatar_
              label #{languages.strings(language, 'avatar')}
              if(data && data.avatar)
                img.ui.image.thumbnail.preview(src="#{bucket}/avatars/#{data.avatar}")
              button.ui.button.inline.pop#avatarFile(title=languages.strings(language, 'addNewAvatar'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'avatar')}
              input#avatar(type="file", accept="image/jpeg", name="avatar", placeholder=languages.strings(language, 'avatar'))
      .section.info
        .fields
          .five.wide.field
            .field#birthday_
              label #{languages.strings(language, 'birthday')}
              input.ui.calendar#birthday(type="text", name="birthday", placeholder=languages.strings(language, 'birthday'), value=(data ? (data.birthday ? formatDate(data.birthday) : "") : ""))
          .five.wide.field
            .field#sex_
              label #{languages.strings(language, 'sex')}
              select.ui.dropdown.fluid.search#sex(type="text", name="sex")
                option(value="", selected="selected") #{languages.strings(language, 'sex')}
                if(sexes)
                  each item in sexes
                    - var selected = (data ? (data.sex ? (data.sex == item.key ? true : false) : false) : false)
                      option(value=item.key, selected=selected) #{item.val}
        .fields
          .five.wide.field
            .field#phone_
              label #{languages.strings(language, 'phone')}
              input#phone(type="text", name="phone", placeholder=languages.strings(language, 'phone'), value=(data ? (data.phone ? data.phone : "") : ""))
          .five.wide.field
            .field#emergencyPhone_
              label #{languages.strings(language, 'emergencyPhone')}
              input#emergencyPhone(type="text", name="emergencyPhone", placeholder=languages.strings(language, 'emergencyPhone'), value=(data ? (data.emergencyPhone ? data.emergencyPhone : "") : ""))
        .fields
          .five.wide.field
            .field#address_
              label #{languages.strings(language, 'address')}
              input#address(type="text", name="address", placeholder=languages.strings(language, 'address'), value=(data ? (data.address ? data.address : "") : ""))
          .five.wide.field
            .field#postCode_
              label #{languages.strings(language, 'postCode')}
              input#postCode(type="text", name="postCode", placeholder=languages.strings(language, 'postCode'), value=(data ? (data.postCode ? data.postCode : "") : ""))
          .five.wide.field
            .field.required#city_
              label #{languages.strings(language, 'city')}
              select.ui.dropdown.fluid.search#city(type="text", name="city")
                option(value="", selected="selected") #{languages.strings(language, 'city')}
                if(cities)
                  each item in cities
                    - var selected = (data ? (data.city ? (data.city._id == item._id ? true : false) : false) : false)
                      option(value=item._id, selected=selected) #{item.name}
        .fields
          .five.wide.field
            .field#status_
              label #{languages.strings(language, 'status')}
              select.ui.dropdown.fluid.search#status(type="text", name="status")
                option(value="", selected="selected") #{languages.strings(language, 'status')}
                if(status)
                  each item in status
                    - var selected = (data ? (data.status ? (data.status == item.key ? true : false) : false) : false)
                      option(value=item.key, selected=selected) #{item.val}
          .five.wide.field
            .field#location_
              label #{languages.strings(language, 'location')}
              select.ui.dropdown.fluid.search#location(type="text", name="location")
                option(value="", selected="selected") #{languages.strings(language, 'location')}
                if(locations)
                  each item in locations
                    - var selected = (data ? (data.location ? (data.location == item._id ? true : false) : false) : false)
                      option(value=item._id, selected=selected) #{item.name}
    .ui.bottom.attached.tab.segment(data-tab='labor')
      .section.info
        .fields
          .five.wide.field
            .field#nss_
              label #{languages.strings(language, 'nss')}
              input#nss(type="text", name="nss", placeholder=languages.strings(language, 'nss'), value=(data ? (data.nss ? data.nss : "") : ""))
          .five.wide.field
            .field#curp_
              label #{languages.strings(language, 'curp')}
              input#curp(type="text", name="curp", placeholder=languages.strings(language, 'curp'), value=(data ? (data.curp ? data.curp : "") : ""))
          .five.wide.field
            .field#rfc_
              label #{languages.strings(language, 'rfc')}
              input#rfc(type="text", name="rfc", placeholder=languages.strings(language, 'rfc'), value=(data ? (data.rfc ? data.rfc : "") : ""))
        .fields
          .five.wide.field
            .field#admissionDate_
              label #{languages.strings(language, 'admissionDate')}
              input.ui.calendar#admissionDate(type="text", name="admissionDate", placeholder=languages.strings(language, 'admissionDate'), value=(data ? (data.admissionDate ? formatDate(data.admissionDate) : "") : ""))
          .five.wide.field
            .field#dischargeDate_
              label #{languages.strings(language, 'dischargeDate')}
              input.ui.calendar#dischargeDate(type="text", name="dischargeDate", placeholder=languages.strings(language, 'dischargeDate'), value=(data ? (data.dischargeDate ? formatDate(data.dischargeDate) : "") : ""))
        .fields
          .five.wide.field
            .field#ine_
              label #{languages.strings(language, 'ine')}
              if(data && data.ine)
                a.download(href="#{bucket}/ine/#{data.ine}", target="_blank")
                  img.ui.image.thumbnail.preview(src="#{bucket}/ine/#{data.ine}")
              button.ui.button.inline.pop#ineFile(title=languages.strings(language, 'addNewIne'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'ine')}
              input#ine(type="file", accept="application/pdf", name="ine", placeholder=languages.strings(language, 'ine'))
          .five.wide.field
            .field#confidentialityAgreement_
              label #{languages.strings(language, 'confidentialityAgreement')}
              if(data && data.confidentialityAgreement)
                a.download(href="#{bucket}/confidentialityAgreement/#{data.confidentialityAgreement}", target="_blank")
                  img.ui.image.thumbnail.preview(src="#{bucket}/confidentialityAgreement/#{data.confidentialityAgreement}")
              button.ui.button.inline.pop#confidentialityAgreementFile(title=languages.strings(language, 'addNewConfidentialityAgreement'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'confidentialityAgreement')}
              input#confidentialityAgreement(type="file", accept="application/pdf", name="confidentialityAgreement", placeholder=languages.strings(language, 'confidentialityAgreement'))
          .five.wide.field
            .field#temporalContract_
              label #{languages.strings(language, 'temporalContract')}
              if(data && data.temporalContract)
                a.download(href="#{bucket}/temporalContract/#{data.temporalContract}", target="_blank")
                  img.ui.image.thumbnail.preview(src="#{bucket}/temporalContract/#{data.temporalContract}")
              button.ui.button.inline.pop#temporalContractFile(title=languages.strings(language, 'addNewTemporalContract'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'temporalContract')}
              input#temporalContract(type="file", accept="application/pdf", name="temporalContract", placeholder=languages.strings(language, 'temporalContract'))
        .fields
          .five.wide.field
            .field#ine_
              label #{languages.strings(language, 'permanentContract')}
              if(data && data.permanentContract)
                a.download(href="#{bucket}/permanentContract/#{data.ine}", target="_blank")
                  img.ui.image.thumbnail.preview(src="#{bucket}/permanentContract/#{data.permanentContract}")
              button.ui.button.inline.pop#permanentContractFile(title=languages.strings(language, 'addNewPermanentContract'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'permanentContract')}
              input#permanentContract(type="file", accept="application/pdf", name="permanentContract", placeholder=languages.strings(language, 'permanentContract'))
          .five.wide.field
            .field#studySheet_
              label #{languages.strings(language, 'studySheet')}
              if(data && data.studySheet)
                a.download(href="#{bucket}/studySheet/#{data.studySheet}", target="_blank")
                  img.ui.image.thumbnail.preview(src="#{bucket}/studySheet/#{data.studySheet}")
              button.ui.button.inline.pop#studySheetFile(title=languages.strings(language, 'addNewStudySheet'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'studySheet')}
              input#studySheet(type="file", accept="application/pdf", name="studySheet", placeholder=languages.strings(language, 'studySheet'))
          .five.wide.field
            .field#resignationLetter_
              label #{languages.strings(language, 'resignationLetter')}
              if(data && data.resignationLetter)
                a.download(href="#{bucket}/resignationLetter/#{data.resignationLetter}", target="_blank")
                  img.ui.image.thumbnail.preview(src="#{bucket}/resignationLetter/#{data.resignationLetter}")
              button.ui.button.inline.pop#resignationLetterFile(title=languages.strings(language, 'addNewResignationLetter'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'resignationLetter')}
              input#resignationLetter(type="file", accept="application/pdf", name="resignationLetter", placeholder=languages.strings(language, 'resignationLetter'))
