extend admin-list
block content
  .section.info
    table.ui.table.striped.unstackable#table
      thead
        tr
          td #{languages.strings(language, 'id')}
          td #{languages.strings(language, 'name')}
          td #{languages.strings(language, 'startDate')}
          td #{languages.strings(language, 'finishDate')}
          td #{languages.strings(language, 'price')}
          td #{languages.strings(language, 'location')}
          td #{languages.strings(language, 'category')}
          td
            span.info(title=languages.strings(language, 'users'))
              i.icon.users
          td
            span.info(title=languages.strings(language, 'actions'))
              i.icon.write
      tbody
        each item in data
          tr
            td #{item._id}
            td #{item.name}
            td #{formatDate(item.startDate)}
            td #{formatDate(item.finishDate)}
            td $ #{parseFloat(Math.round(item.price * 100) / 100).toFixed(2)}
            td #{(item.location ? item.location.name : '')}
            td #{(item.category ? item.category.name : '')}
            td #{(item.users ? (item.users.length > 0 ? item.users.length : '-') : '-')}
            td
              a.ui.button.delete.info(href="#", title=languages.strings(language, 'delete'))
                i.icon.trash
      tfoot
        tr
          td
          td.input
          td.input.calendar
          td.input.calendar
          td.input
          td.select
          td.select
          td
          td
