extend admin-single
block content
  form.ui.form#form(method="post")
    input#_id(type="hidden", name="_id", placeholder="ID", value=(data ? (data._id ? data._id : "") : ""), readonly)
    .ui.pointing.secondary.menu
      a.active.item(data-tab='general')
        i.icon.university
        | #{languages.strings(language, 'general')}
      if(users_)
        a.item(data-tab='aditional')
          i.icon.browser
          | #{languages.strings(language, 'aditional')}
    .ui.bottom.attached.active.tab.segment(data-tab='general')
      .section.info
        .fields
          .five.wide.field
            .field.required#name_
              label #{languages.strings(language, 'name')}
              input#name(type="text", name="name", placeholder=languages.strings(language, 'name'), value=(data ? (data.name ? data.name : "") : ""), autofocus)
          .five.wide.field
            .field.required#startDate_
              label #{languages.strings(language, 'startDate')}
              input.ui.calendar#startDate(type="text", name="startDate", placeholder=languages.strings(language, 'startDate'), value=(data ? (data.startDate ? formatDate(data.startDate) : "") : ""))
          .five.wide.field
            .field.required#finishDate_
              label #{languages.strings(language, 'finishDate')}
              input.ui.calendar#finishDate(type="text", name="finishDate", placeholder=languages.strings(language, 'finishDate'), value=(data ? (data.finishDate ? formatDate(data.finishDate) : "") : ""))

        .fields
          .five.wide.field
            .field.required#price_
              label #{languages.strings(language, 'price')}
              .ui.left.labeled.input
                .ui.basic.label #{(data ? (data.service != 'translates' ? '$' : '%'): '$')}
                input#price(type="number", name="price", placeholder=languages.strings(language, 'price'), value=(data ? (data.price ? parseFloat(Math.round(data.price * 100) / 100).toFixed(2) : "") : ""))
          .five.wide.field
            .field.required#location_
              label #{languages.strings(language, 'location')}
              select.ui.dropdown.fluid.search#location(type="text", name="location", multiple="")
                option(value="", selected="selected") #{languages.strings(language, 'location')}
                if(locations)
                  each item in locations
                    - var selected = (data ? (data.location ? (data.location._id == item._id ? true : false) : false) : false)
                      option(value=item._id, selected=selected) #{item.name}
          .five.wide.field
            .field.required#category_
              label #{languages.strings(language, 'category')}
              select.ui.dropdown.fluid.search#category(type="text", name="category")
                option(value="", selected="selected") #{languages.strings(language, 'category')}
                if(categories)
                  each item in categories
                    - var selected = (data ? (data.category ? (data.category._id == item._id ? true : false) : false) : false)
                      option(value=item._id, selected=selected) #{item.name}
      if(users_)
        .section.info
          .fields
            if(users_)
              .five.wide.field
                .field#users_
                  label #{languages.strings(language, 'users')}
                  .block
                    table.ui.table.striped#table
                      tbody
                        each item in data.users
                          tr
                            td
                              a(href="/admin/users/edit/#{item._id}", title=item.name + ' ' + item.lastName) #{item.name} #{item.lastName}
