extend admin-single
block content
  form.ui.form#form(method="post")
    input#_id(type="hidden", name="_id", placeholder="ID", value=(data ? (data._id ? data._id : "") : ""), readonly)
    .ui.pointing.secondary.menu
      a.active.item(data-tab='general')
        i.icon.building
        | #{languages.strings(language, 'general')}
      if(classes_ || generations_)
        a.item(data-tab='aditional')
          i.icon.browser
          | #{languages.strings(language, 'aditional')}
    .ui.bottom.attached.active.tab.segment(data-tab='general')
      .section.info
        .fields
          .five.wide.field
            .field.required#name_
              label #{languages.strings(language, 'name')}
              input#name(type="text", name="name", placeholder=languages.strings(language, 'name'), value=(data ? (data.name ? data.name : "") : ""), autofocus)
          .five.wide.field
            .field.required#email_
              label #{languages.strings(language, 'email')}
              input#email(type="text", name="email", placeholder=languages.strings(language, 'email'), value=(data ? (data.email ? data.email : "") : ""))
      .section.info
        .fields
          .four.wide.field
            .field.required#phone_
              label #{languages.strings(language, 'phone')}
              input#phone(type="text", name="phone", placeholder=languages.strings(language, 'phone'), value=(data ? (data.phone ? data.phone : "") : ""))
        .fields
          .five.wide.field
            .field.required#address_
              label #{languages.strings(language, 'address')}
              input#address(type="text", name="address", placeholder=languages.strings(language, 'address'), value=(data ? (data.address ? data.address : "") : ""))
          .five.wide.field
            .field.required#postCode_
              label #{languages.strings(language, 'postCode')}
              input#postCode(type="text", name="postCode", placeholder=languages.strings(language, 'postCode'), value=(data ? (data.postCode ? data.postCode : "") : ""))
          .four.wide.field
            .field.required#city_
              label #{languages.strings(language, 'city')}
              select.ui.dropdown.fluid.search#city(type="text", name="city")
                option(value="", selected="selected") #{languages.strings(language, 'city')}
                if(cities)
                  each item in cities
                    - var selected = (data ? (data.city ? (data.city._id == item._id ? true : false) : false) : false)
                      option(value=item._id, selected=selected) #{item.name}
      .section.info
        .fields
          .five.wide.field
            .field.required#price20_
              label #{languages.strings(language, 'price20')}
              .ui.left.labeled.input
                .ui.basic.label $
                input#price20(type="number", name="price20", placeholder=languages.strings(language, 'price20'), value=(data ? (data.price20 ? parseFloat(Math.round(data.price20 * 100) / 100).toFixed(2) : "") : ""))
          .five.wide.field
            .field.required#price55_
              label #{languages.strings(language, 'price55')}
              .ui.left.labeled.input
                .ui.basic.label $
                input#price55(type="number", name="price55", placeholder=languages.strings(language, 'price55'), value=(data ? (data.price55 ? parseFloat(Math.round(data.price55 * 100) / 100).toFixed(2) : "") : ""))

    if(classes_ || generations_)
      .ui.bottom.attached.tab.segment(data-tab='aditional')
        .section.info
          .fields
            if(classes_)
              .five.wide.field
                .field#classes_
                  label #{languages.strings(language, 'classes')}
                  .block
                    table.ui.table.striped#table
                      tbody
                        each item in data.classes
                          tr
                            td
                              a(href="/admin/classes/edit/#{item._id}", title=item.startTime.hours + ':' + item.startTime.minutes + ' ' + languages.strings(language, item.startTime.ampm) + ' ' + ' | ' + item.category.name + ' | ' + item.classRoom) #{item.startTime.hours}:#{item.startTime.minutes} #{languages.strings(language, item.startTime.ampm)} | #{item.category.name} | #{languages.strings(language, 'classRoom')} #{item.classRoom}
            if(generations_)
              .five.wide.field
                .field#generations_
                  label #{languages.strings(language, 'generations')}
                  .block
                    table.ui.table.striped#table
                      tbody
                        each item in data.generations
                          tr
                            td
                              a(href="/admin/generations/edit/#{item._id}", title=item.name) #{item.name}
