extend admin-list
block content
  .section.info
    table.ui.table.striped.unstackable#table
      thead
        tr
          td #{languages.strings(language, 'id')}
          td #{languages.strings(language, 'name')}
          td #{languages.strings(language, 'email')}
          td #{languages.strings(language, 'phone')}
          td #{languages.strings(language, 'city')}
          td
            span.info(title=languages.strings(language, 'classes'))
              i.icon.calendar
          td
            span.info(title=languages.strings(language, 'actions'))
              i.icon.write
      tbody
        each item in data
          tr
            td #{item._id}
            td #{item.name}
            td #{item.email}
            td #{item.phone}
            td #{(item.city ? item.city.name : '')}
            td #{(item.classes ? (item.classes.length > 0 ? item.classes.length : '-') : '-')}
            td
              a.ui.button.delete.info(href="#", title=languages.strings(language, 'delete'))
                i.icon.trash
      tfoot
        tr
          td
          td.input
          td.input
          td.input
          td.select
          td
          td
