extend admin-list
block content
  .section.info
    table.ui.table.striped.unstackable#table
      thead
        tr
          td #{languages.strings(language, 'id')}
          td #{languages.strings(language, 'name')}
          td
            span.info(title=languages.strings(language, 'cities'))
              i.icon.location.arrow
          td
            span.info(title=languages.strings(language, 'actions'))
              i.icon.write
      tbody
        each item in data
          tr
            td #{item._id}
            td #{item.name}
            td #{(item.cities ? (item.cities.length > 0 ? item.cities.length : '-') : '-')}
            td
              a.ui.button.delete.info(href="#", title=languages.strings(language, 'delete'))
                i.icon.trash
      tfoot
        tr
          td
          td.input
          td
          td
