extend admin-single
block content
  form.ui.form#form(method="post")
    input#_id(type="hidden", name="_id", placeholder="ID", value=(data ? (data._id ? data._id : "") : ""), readonly)
    .ui.pointing.secondary.menu
      a.active.item(data-tab='general')
        i.icon.globe
        | #{languages.strings(language, 'general')}
      if(cities_)
        a.item(data-tab='aditional')
          i.icon.browser
          | #{languages.strings(language, 'aditional')}
    .ui.bottom.attached.active.tab.segment(data-tab='general')
      .section.info
        .fields
          .five.wide.field
            .field.required#name_
              label #{languages.strings(language, 'name')}
              input#name(type="text", name="name", placeholder=languages.strings(language, 'name'), value=(data ? (data.name ? data.name : "") : ""), autofocus)
    if(cities_)
      .ui.bottom.attached.tab.segment(data-tab='aditional')
        .section.info
          .fields
            .five.wide.field
              .field#cities_
                label #{languages.strings(language, 'cities')}
                .block
                  table.ui.table.striped#table
                    tbody
                      each item in data.cities
                        tr
                          td
                            a(href="/admin/cities/edit/#{item._id}", title=item.name) #{item.name}
