extend admin-single
block content
  .ui.pointing.secondary.menu
    a.active.item(data-tab='general')
      i.icon.users
      | #{languages.strings(language, 'general')}
    if(edit_)
      if(roleSystem_ || roleReceptionist_ || roleUser_)
        a.item(data-tab='contracts')
          i.icon.file
          | #{languages.strings(language, 'contracts')}
      if(roleSystem_ || roleReceptionist_ || roleUser_)
        a.item(data-tab='payments')
          i.icon.payment
          | #{languages.strings(language, 'payments')}
      if(roleSystem_ || roleNutrologist_ || roleUser_)
        a.item(data-tab='clinical')
          i.icon.treatment
          | #{languages.strings(language, 'clinical')}
      if(roleSystem_ || roleNutrologist_ || roleUser_)
        a.item(data-tab='dietary')
          i.icon.food
          | #{languages.strings(language, 'dietary')}
      if(roleSystem_ || roleNutrologist_ || roleUser_)
        a.item(data-tab='anthropometric')
          i.icon.flag.checkered
          | #{languages.strings(language, 'anthropometric')}
      if(roleSystem_ || roleReceptionist_ || roleUser_)
        a.item(data-tab='tests')
          i.icon.line.chart
          | #{languages.strings(language, 'tests')}
      if(roleSystem_ || roleNutrologist_ || roleUser_)
        a.item(data-tab='photos')
          i.icon.photo
          | #{languages.strings(language, 'photos')}
      if(roleSystem_ || roleNutrologist_ || roleReceptionist_ || roleUser_)
        a.item(data-tab='assistance')
          i.icon.wait
          | #{languages.strings(language, 'assistance')}
  .ui.bottom.attached.active.tab.segment(data-tab='general')
    form.ui.form#form(method="post", autocomplete="off", enctype="multipart/form-data")
      input#_id(type="hidden", name="_id", placeholder="ID", value=(data ? (data._id ? data._id : "") : ""), readonly)
      .section.info
        .fields
          .five.wide.field
            .field.required#name_
              label #{languages.strings(language, 'name')}
              input#name(type="text", name="name", placeholder=languages.strings(language, 'name'), value=(data ? (data.name ? data.name : "") : ""), autofocus)
          .five.wide.field
            .field.required#lastName_
              label #{languages.strings(language, 'lastName')}
              input#lastName(type="text", name="lastName", placeholder=languages.strings(language, 'lastName'), value=(data ? (data.lastName ? data.lastName : "") : ""))
          .five.wide.field
            .field.required#role_(class='hidden')
              label #{languages.strings(language, 'role')}
              select.ui.dropdown.fluid.search#role(type="text", name="role")
                option(value="", selected="selected") #{languages.strings(language, 'role')}
                option(value='user', selected="selected") #{languages.strings(language, 'user')}
        .fields
          .five.wide.field
            .field.required#email_
              label #{languages.strings(language, 'email')}
              input#email(type="text", name="email", placeholder=languages.strings(language, 'email'), value=(data ? (data.email ? data.email : "") : ""), readonly=readonly_)
          if(edit_)
            .five.wide.field
              .field.required#password_
                label #{languages.strings(language, 'password')}
                input#password.pop(type="password", name="password", placeholder=languages.strings(language, 'password'), value=(data ? (data.password ? data.password : "") : ""), title=languages.strings(language, 'enterNewPassword'), style="display:none")
                button.ui.button.inline.pop#newPassword
                  i.icon.edit
                  span #{languages.strings(language, 'enterNewPassword')}
          .five.wide.field
            .field#avatar_
              label #{languages.strings(language, 'avatar')}
              if(data && data.avatar)
                img.ui.image.thumbnail.preview(src="#{bucket}/avatars/#{data.avatar}")
              button.ui.button.inline.pop#avatarFile(title=languages.strings(language, 'addNewAvatar'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'avatar')}
              input#avatar(type="file", accept="image/jpeg", name="avatar", placeholder=languages.strings(language, 'avatar'))
        if(edit_)
          .fields
            .five.wide.field
              .field#barcode_
                label #{languages.strings(language, 'barcode')}
                img.ui.image.thumbnail.preview#barcode()
                button.ui.button.inline#barcodeFile
                  i.icon.print
                  span #{languages.strings(language, 'print')}
      .section.info
        .fields
          .five.wide.field
            .field#birthday_
              label #{languages.strings(language, 'birthday')}
              input.ui.calendar#birthday(type="text", name="birthday", placeholder=languages.strings(language, 'birthday'), value=(data ? (data.birthday ? formatDate(data.birthday) : "") : ""))
          .five.wide.field
            .field#sex_
              label #{languages.strings(language, 'sex')}
              select.ui.dropdown.fluid.search#sex(type="text", name="sex")
                option(value="", selected="selected") #{languages.strings(language, 'sex')}
                if(sexes)
                  each item in sexes
                    - var selected = (data ? (data.sex ? (data.sex == item.key ? true : false) : false) : false)
                      option(value=item.key, selected=selected) #{item.val}
        .fields
          .five.wide.field
            .field#phone_
              label #{languages.strings(language, 'phone')}
              input#phone(type="text", name="phone", placeholder=languages.strings(language, 'phone'), value=(data ? (data.phone ? data.phone : "") : ""))
          .five.wide.field
            .field#emergencyPhone_
              label #{languages.strings(language, 'emergencyPhone')}
              input#emergencyPhone(type="text", name="emergencyPhone", placeholder=languages.strings(language, 'emergencyPhone'), value=(data ? (data.emergencyPhone ? data.emergencyPhone : "") : ""))
        .fields
          .five.wide.field
            .field#address_
              label #{languages.strings(language, 'address')}
              input#address(type="text", name="address", placeholder=languages.strings(language, 'address'), value=(data ? (data.address ? data.address : "") : ""))
          .five.wide.field
            .field#postCode_
              label #{languages.strings(language, 'postCode')}
              input#postCode(type="text", name="postCode", placeholder=languages.strings(language, 'postCode'), value=(data ? (data.postCode ? data.postCode : "") : ""))
          .five.wide.field
            .field.required#city_
              label #{languages.strings(language, 'city')}
              select.ui.dropdown.fluid.search#city(type="text", name="city")
                option(value="", selected="selected") #{languages.strings(language, 'city')}
                if(cities)
                  each item in cities
                    - var selected = (data ? (data.city ? (data.city._id == item._id ? true : false) : false) : false)
                      option(value=item._id, selected=selected) #{item.name}
        .fields
          if(add_)
            .five.wide.field
              .field#status_
                label #{languages.strings(language, 'status')}
                select.ui.dropdown.fluid.search#status(type="text", name="status")
                  option(value="", selected="selected") #{languages.strings(language, 'status')}
                  if(status)
                    each item in status
                      - var selected = (data ? (data.status ? (data.status == item.key ? true : false) : false) : false)
                        option(value=item.key, selected=selected) #{item.val}
          if(edit_)
            .five.wide.field
              .field#status_
                label #{languages.strings(language, 'status')}
                input#status(type="text", name="status", placeholder=languages.strings(language, 'status'), value=(data ? (data.status ? languages.strings(language, data.status) : "") : ""), readonly=readonly_)
          if(add_)
            .five.wide.field
              .field#location_
                label #{languages.strings(language, 'location')}
                select.ui.dropdown.fluid.search#location(type="text", name="location")
                  option(value="", selected="selected") #{languages.strings(language, 'location')}
                  if(locations)
                    each item in locations
                      - var selected = (data ? (data.location ? (data.location == item._id ? true : false) : false) : false)
                        option(value=item._id, selected=selected) #{item.name}
          if(edit_)
            .five.wide.field
              .field#location_
                label #{languages.strings(language, 'location')}
                if(locations)
                  each item in locations
                    if(data && data.location && data.location == item._id)
                      input#location(type="text", name="location", placeholder=languages.strings(language, 'location'), value=item.name, readonly=readonly_)
  if(edit_)
    .ui.bottom.attached.tab.segment(data-tab='contracts')
      include ./partials/contracts.jade
      if(roleSystem_ || roleReceptionist_)
        include ./partials/contracts-edit.jade
    .ui.bottom.attached.tab.segment(data-tab='payments')
      include ./partials/payments.jade
      if(roleSystem_)
        include ./partials/payments-edit.jade
    .ui.bottom.attached.tab.segment(data-tab='clinical')
      include ./partials/clinical.jade
      if(roleSystem_ || roleNutrologist_)
        include ./partials/clinical-edit.jade
    .ui.bottom.attached.tab.segment(data-tab='dietary')
      include ./partials/dietary.jade
      if(roleSystem_ || roleNutrologist_)
        include ./partials/dietary-edit.jade
    .ui.bottom.attached.tab.segment(data-tab='anthropometric')
      include ./partials/anthropometric.jade
      if(roleSystem_ || roleNutrologist_)
        include ./partials/anthropometric-edit.jade
    .ui.bottom.attached.tab.segment(data-tab='tests')
      include ./partials/tests.jade
      if(roleSystem_ || roleReceptionist_)
        include ./partials/tests-edit.jade
    .ui.bottom.attached.tab.segment(data-tab='photos')
      include ./partials/photos.jade
      if(roleSystem_ || roleNutrologist_)
        include ./partials/photos-edit.jade
    .ui.bottom.attached.tab.segment(data-tab='assistance')
      include ./partials/assistance.jade
