extend secure
block content
  form.ui.form#form(method="post")
    fields
      .sixteen.wide.field
        .field.required#assistance_
          label #{languages.strings(language, 'id')}
          input(type="text", name="assistance", id="assistance", placeholder=languages.strings(language, 'id'))
    .ui.message.error#message
      ul.list.content
