extend secure
block content
  form.ui.form#form(method="post")
    .fields
      .sixteen.wide.field
        .field.required#email_
          label #{languages.strings(language, 'email')}
          input(type="text", name="email", id="email", placeholder=languages.strings(language, 'email'))
    .fields
      .sixteen.wide.field
        .field.required#password_
          label #{languages.strings(language, 'password')}
          input(type="password", name="password", id="password", placeholder=languages.strings(language, 'password'))
    .ui.message.error#message
      ul.list.content
    button.ui.button#login
      i.icon.sign.in
      | #{languages.strings(language, 'login')}
  .ui.message
    .content
      a(href="/secure/forgot", title=languages.strings(language, 'forgotYourPassword')) #{languages.strings(language, 'forgotYourPassword')}
