doctype
html(lang="#{language}")
  head
    meta(charset="UTF-8")
    title #{title} - #{languages.strings(language, 'brand')}
    link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.png")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    link(rel="stylesheet", type="text/css", href="/css/semantic.css")
    link(rel="stylesheet", type="text/css", href="/styles/secure.css")
    script(type="application/javascript", src="/js/jquery.js")
    script(type="application/javascript", src="/js/semantic.js")
    script(type="application/javascript", src="/js/validator.js")
    block head
    script(type="application/javascript", src="/scripts/secure/#{path}.js")
    script(type="application/javascript", src="/scripts/secure/languages/languages-#{language}.js")
    script(type="application/javascript", src="/scripts/secure/secure.js")
    script(type="application/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-87686823-1', 'auto');
      ga('send', 'pageview');
  body
    #main
      #content
      .content.wrapper
        .ui.header#header
          .logo
            a(href='/')
              img.ui.image(src="/images/logo.png" alt=languages.strings(language, 'brand'), title=languages.strings(language, 'brand'))      
      .content.wrapper
        .ui.header
          .ui.title
            .title #{title}
              .description #{description}
        block content
