extend secure
block content
  form.ui.form#form(method="post")
    input#_verify(type="hidden", name="_verify", placeholder=languages.strings(language, 'id'), value=(user ? (user.verify ? user.verify : "") : ""))
    if(!user)
      fields
        .sixteen.wide.field
          .field.required#email_
            label #{languages.strings(language, 'email')}
            input(type="text", name="email", id="email", placeholder=languages.strings(language, 'email'))
    else
      fields
        .sixteen.wide.field
          .field.required#password_
            label #{languages.strings(language, 'password')}
            input(type="password", name="password", id="password", placeholder=languages.strings(language, 'password'))
    .ui.message.error#message
      ul.list.content
    button.ui.button#verify
      i.icon.lock
      | #{languages.strings(language, 'verify')}
  .ui.message
    .content
      a(href="/secure/login", title=languages.strings(language, 'login')) #{languages.strings(language, 'login')}
