html(style="background:#FFFFFF;")
  head
    meta(charset="UTF-8")
    style.
      @media only screen and (min-device-width: 600px) {
        .content {
          width: 600px!important;
        }
      }
  body(style="margin:0;background:#FFFFFF;")
    div(style="padding:20px 0;width:100%;background:#18181F;")
      table.content(align='center', cellpadding='0', cellspacing='0', border='0', style='width: 100%; max-width: 600px;')
        tr
          td
            div(style="width:100%;text-align:center;")
              a(href="#{url}")
                img.ui.image(src="#{url}/images/logo_dark.png" alt="#{brand}" style="width:auto;height:100px;")
    div(style="width:100%;background:#FFFFFF;")
      table.content(align='center', cellpadding='0', cellspacing='0', border='0', style='width: 100%; max-width: 600px;')
        tr
          td
            div(style="padding:40px 0;width:100%;background:#FFFFFF;")
              h1(style="padding:10px 30px;font-family:Helvetica,Arial,sans-serif;font-size:20px;color:#18181F;") #{title}
              p(style="padding:10px 30px;font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#18181F;") !{content}
              p(style="padding:10px;text-align:center;")
                a(href="#{link}" style="padding:12px 24px;width:75%;font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#FFFFFF;background:#E84338;text-decoration:none;display:inline-block;text-align:center;border-radius:2px;font-weight:bold;") #{cta}
              br
              br
              p(style="padding:10px 30px;font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#18181F;") #{thanksForYourPreference}
              p(style="padding:10px 30px;font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#18181F;") #{teamBrand}
    div(style="padding:20px 0;width:100%;background:#18181F;")
      table.content(align='center', cellpadding='0', cellspacing='0', border='0', style='width: 100%; max-width: 600px;')
        tr
          td
            p(style="font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#FFFFFF;text-align:center;")
              a(href="#{url}" style="font-family:Helvetica,Arial,sans-serif;font-size:10px;color:#FFFFFF;text-decoration:none;") #{brand}
              |  | 
              a(href="#{facebook}" style="font-family:Helvetica,Arial,sans-serif;font-size:10px;color:#FFFFFF;text-decoration:none;") #{facebookLabel}
              |  | 
              a(href="#{twitter}" style="font-family:Helvetica,Arial,sans-serif;font-size:10px;color:#FFFFFF;text-decoration:none;") #{twitterLabel}
              |  | 
              a(href="#{instagram}" style="font-family:Helvetica,Arial,sans-serif;font-size:10px;color:#FFFFFF;text-decoration:none;") #{instagramLabel}
