* {
  -webkit-font-smoothing: antialiased;
}
html {
  background-color: #fff;
  overflow-y: hidden;
}
html,
body {
  font-size: 12px;
  height: 100%;
  min-height: 100%;
  min-width: 1024px;
}
body {
  color: #252d38;
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
#main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-width: 1024px;
}
#header,
#content,
#footer {
  margin: 0 auto;
}
.inner {
  width: 100%;
  max-width: 1600px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 0;
}
a:focus,
input:focus,
select:focus,
textarea:focus,
tr:focus,
td:focus {
  outline-style: solid;
  outline-color: transparent;
}
a,
button,
label,
.ui.button,
.ui.label {
  font-weight: normal;
}
p {
  text-align: justify;
}
li {
  padding-bottom: 1rem;
}
.ui.form input[type=text],
.ui.form input[type=email],
.ui.form input[type=search],
.ui.form input[type=password],
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=tel],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.form input[type=number] {
  padding: 1rem;
}
.ui.dropdown {
  padding: 1rem !important;
}
.ui.button,
.ui.buttons .ui.button {
  color: #0a0d17;
  background-color: #dd002a;
  border: 1px solid transparent;
  padding: 1.25rem 2rem;
  text-align: center;
}
.ui.button:hover,
.ui.buttons .ui.button:hover {
  color: #fff;
  background-color: #151d28;
}
.ui.button:active,
.ui.buttons .ui.button:active {
  color: #fff;
  background-color: #dd002a;
}
.center {
  text-align: center;
}
input#name,
input#lastName,
input#city,
input#state,
input#address {
  text-transform: capitalize;
}
input#email {
  text-transform: lowercase;
}
input#phone,
input#emergencyPhone,
input#postCode,
input#nss,
input#curp,
input#rfc {
  text-transform: uppercase;
}
::-webkit-input-placeholder {
  text-transform: initial;
}
:-moz-placeholder {
  text-transform: initial;
}
::-moz-placeholder {
  text-transform: initial;
}
:-ms-input-placeholder {
  text-transform: initial;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: #fff;
}
.inner {
  background-color: #fff;
  position: relative;
}
.inside {
  padding: 1rem;
}
#header {
  width: 100%;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#header .logo {
  height: 90px;
  padding: calc((90px - 50px) / 2);
}
#header .logo img {
  height: 50px;
  margin: 0 auto;
}
#sidebar {
  color: #fff;
  background: #0a0d17;
  width: 220px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 1rem rgba(10,13,23,0.5);
  -moz-box-shadow: 0 0 1rem rgba(10,13,23,0.5);
  box-shadow: 0 0 1rem rgba(10,13,23,0.5);
  display: inline-block;
  vertical-align: top;
  position: fixed;
  overflow: auto;
}
#sidebar .item {
  padding: 1.25rem 2rem;
}
#sidebar .item:before {
  background-color: transparent;
}
#sidebar .item:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#sidebar .item.card {
  padding: 2rem;
}
#sidebar .item.card .avatar {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  display: block;
}
#sidebar .item.card .header {
  color: #fff;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 2rem 0 0 0;
}
#sidebar .item.card .meta {
  text-align: center;
  margin: 1rem;
}
#sidebar .item.card .button {
  color: #fff;
  padding: 0.25rem;
}
#sidebar .item.card .button:hover {
  color: #dd002a;
}
#sidebar .item.header {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
  background: #151d28;
}
#sidebar .item.button {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
}
#sidebar .item.button:hover {
  color: #fff;
  background-color: #dd002a;
}
#sidebar .item.button.active {
  color: #fff;
  background-color: #dd002a;
}
#sidebar .item.button:active {
  color: #dcdcdc;
  background-color: #dd002a;
}
#content,
.modal {
  width: calc(100% - 220px);
  height: auto;
  padding: 2rem;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 220px;
}
#content .preview,
.modal .preview {
  margin-bottom: 1rem;
  border: solid 1px #dcdcdc;
}
#content .ui.comments,
.modal .ui.comments {
  padding-bottom: 2rem;
  border-bottom: solid 1px #dcdcdc;
}
#content .header,
.modal .header {
  padding: 0 0 2rem 0;
}
#content .header .title,
.modal .header .title {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
#content .header .title .description,
.modal .header .title .description {
  font-size: 1.25rem;
  margin: 0.5rem;
  display: inline-block;
}
#content .header .breadcrumb,
.modal .header .breadcrumb {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: -1.25rem 0 0 0;
  float: right;
}
#content .header .breadcrumb a,
.modal .header .breadcrumb a {
  color: #151d28;
}
#content .header .breadcrumb a:hover,
.modal .header .breadcrumb a:hover {
  color: #dd002a;
}
#content .header.sub.inn,
.modal .header.sub.inn {
  padding: 1rem 0 0 0;
}
#content .actions#fixed,
.modal .actions#fixed {
  padding: 2rem 0 2rem 0;
  margin: 0 0 2rem 0;
  border: none;
}
#content .dateFilter,
.modal .dateFilter {
  display: inline-block;
  vertical-align: top;
}
#content .dateFilter input,
.modal .dateFilter input {
  width: 40%;
  margin-left: 10%;
}
#content .button,
.modal .button,
#content .buttons .button,
.modal .buttons .button {
  color: #fff;
  background-color: #dd002a;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 1.5rem 3rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#content .button:hover,
.modal .button:hover,
#content .buttons .button:hover,
.modal .buttons .button:hover {
  color: #fff;
  background-color: #dd002a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#content .button:active,
.modal .button:active,
#content .buttons .button:active,
.modal .buttons .button:active {
  color: #fff;
  background-color: #dd002a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#content .button.inline,
.modal .button.inline,
#content .buttons .button.inline,
.modal .buttons .button.inline {
  color: #dd002a;
  background: none;
  border: none;
  padding: 1.25rem;
}
#content .button.inline:hover,
.modal .button.inline:hover,
#content .buttons .button.inline:hover,
.modal .buttons .button.inline:hover {
  color: #0a0d17;
}
#content .secondary.menu,
.modal .secondary.menu {
  border-bottom: solid 1px rgba(21,29,40,0.15);
}
#content .secondary.menu .item,
.modal .secondary.menu .item {
  border-bottom: solid 1px transparent;
  font-size: 0.9rem;
  font-weight: normal;
  text-transform: uppercase;
}
#content .secondary.menu .item.active,
.modal .secondary.menu .item.active {
  border-bottom: solid 1px #0a0d17;
}
#content .secondary.menu .item:hover,
.modal .secondary.menu .item:hover {
  border-bottom: solid 1px #0a0d17;
}
#content #message,
.modal #message {
  color: #0a0d17;
  background: transparent;
  padding: 1rem;
  display: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#content .form .selection,
.modal .form .selection,
#content .ui.form .selection,
.modal .ui.form .selection {
  background-color: #fff;
}
#content .form .dividing,
.modal .form .dividing,
#content .ui.form .dividing,
.modal .ui.form .dividing {
  margin: 0 0 2rem 0;
}
#content .form label,
.modal .form label,
#content .ui.form label,
.modal .ui.form label {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #0a0d17;
  padding: 0;
  text-transform: uppercase;
}
#content .form .basic.label,
.modal .form .basic.label,
#content .ui.form .basic.label,
.modal .ui.form .basic.label {
  background-color: transparent;
  border-bottom: solid 1px rgba(21,29,40,0.15);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-top: 1rem;
  padding-right: 0;
}
#content .form input,
.modal .form input,
#content .ui.form input,
.modal .ui.form input {
  padding: 1rem;
  border-top: none;
  border-right: none;
  border-left: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#content .form input[type=text],
.modal .form input[type=text],
#content .ui.form input[type=text],
.modal .ui.form input[type=text],
#content .form input[type=email],
.modal .form input[type=email],
#content .ui.form input[type=email],
.modal .ui.form input[type=email],
#content .form input[type=search],
.modal .form input[type=search],
#content .ui.form input[type=search],
.modal .ui.form input[type=search],
#content .form input[type=password],
.modal .form input[type=password],
#content .ui.form input[type=password],
.modal .ui.form input[type=password],
#content .form input[type=date],
.modal .form input[type=date],
#content .ui.form input[type=date],
.modal .ui.form input[type=date],
#content .form input[type=datetime-local],
.modal .form input[type=datetime-local],
#content .ui.form input[type=datetime-local],
.modal .ui.form input[type=datetime-local],
#content .form input[type=tel],
.modal .form input[type=tel],
#content .ui.form input[type=tel],
.modal .ui.form input[type=tel],
#content .form input[type=time],
.modal .form input[type=time],
#content .ui.form input[type=time],
.modal .ui.form input[type=time],
#content .form input[type=url],
.modal .form input[type=url],
#content .ui.form input[type=url],
.modal .ui.form input[type=url],
#content .form input[type=number],
.modal .form input[type=number],
#content .ui.form input[type=number],
.modal .ui.form input[type=number] {
  font-size: 1rem;
  background-color: #fff;
}
#content .form textarea,
.modal .form textarea,
#content .ui.form textarea,
.modal .ui.form textarea,
#content .form .dropdown,
.modal .form .dropdown,
#content .ui.form .dropdown,
.modal .ui.form .dropdown {
  padding: 1rem;
  border-top: solid 2px transparent;
  border-right: none;
  border-left: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#content .form .selector span,
.modal .form .selector span,
#content .ui.form .selector span,
.modal .ui.form .selector span {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding-left: 0.5rem;
}
#content .form #avatar,
.modal .form #avatar,
#content .ui.form #avatar,
.modal .ui.form #avatar,
#content .form #file,
.modal .form #file,
#content .ui.form #file,
.modal .ui.form #file,
#content .form #front,
.modal .form #front,
#content .ui.form #front,
.modal .ui.form #front,
#content .form #back,
.modal .form #back,
#content .ui.form #back,
.modal .ui.form #back,
#content .form #ine,
.modal .form #ine,
#content .ui.form #ine,
.modal .ui.form #ine,
#content .form #confidentialityAgreement,
.modal .form #confidentialityAgreement,
#content .ui.form #confidentialityAgreement,
.modal .ui.form #confidentialityAgreement,
#content .form #temporalContract,
.modal .form #temporalContract,
#content .ui.form #temporalContract,
.modal .ui.form #temporalContract,
#content .form #permanentContract,
.modal .form #permanentContract,
#content .ui.form #permanentContract,
.modal .ui.form #permanentContract,
#content .form #studySheet,
.modal .form #studySheet,
#content .ui.form #studySheet,
.modal .ui.form #studySheet,
#content .form #resignationLetter,
.modal .form #resignationLetter,
#content .ui.form #resignationLetter,
.modal .ui.form #resignationLetter {
  display: none;
}
#content .form #file_,
.modal .form #file_,
#content .ui.form #file_,
.modal .ui.form #file_ {
  display: inline-block;
  float: right;
}
#content .form img.thumbnail,
.modal .form img.thumbnail,
#content .ui.form img.thumbnail,
.modal .ui.form img.thumbnail {
  width: 4rem;
  height: auto;
  padding: 0;
  margin: 0 1rem 0 0;
  display: inline-block;
}
#content .form .error textarea,
.modal .form .error textarea,
#content .ui.form .error textarea,
.modal .ui.form .error textarea,
#content .form .error .dropdown,
.modal .form .error .dropdown,
#content .ui.form .error .dropdown,
.modal .ui.form .error .dropdown {
  background: transparent;
  border-top: solid 2px transparent !important;
}
#content .form .dropdown.active .menu,
.modal .form .dropdown.active .menu,
#content .ui.form .dropdown.active .menu,
.modal .ui.form .dropdown.active .menu {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#content .form .field,
.modal .form .field,
#content .ui.form .field,
.modal .ui.form .field {
  margin: 0 0 1rem 0;
}
#content .form .check,
.modal .form .check,
#content .ui.form .check,
.modal .ui.form .check {
  padding-top: 0.5rem;
  width: 100%;
}
#content .form .check label,
.modal .form .check label,
#content .ui.form .check label,
.modal .ui.form .check label {
  padding: 0 1.75rem;
}
#content .form .check p,
.modal .form .check p,
#content .ui.form .check p,
.modal .ui.form .check p,
#content .form .checkp p,
.modal .form .checkp p,
#content .ui.form .checkp p,
.modal .ui.form .checkp p {
  margin-top: 1rem;
  text-transform: none;
  font-size: 1rem;
}
#content .form .checkp .download,
.modal .form .checkp .download,
#content .ui.form .checkp .download,
.modal .ui.form .checkp .download {
  display: inline-block;
}
#content .form .ui.selection.dropdown .menu,
.modal .form .ui.selection.dropdown .menu,
#content .ui.form .ui.selection.dropdown .menu,
.modal .ui.form .ui.selection.dropdown .menu {
  max-height: 30rem;
}
#content .form .ui.dropdown .menu>.disabled.item,
.modal .form .ui.dropdown .menu>.disabled.item,
#content .ui.form .ui.dropdown .menu>.disabled.item,
.modal .ui.form .ui.dropdown .menu>.disabled.item {
  color: #000;
  background: #ccc;
  opacity: 1;
}
#content .form #messages .content,
.modal .form #messages .content,
#content .ui.form #messages .content,
.modal .ui.form #messages .content {
  padding: 0 0.75rem;
  border-left: solid 4px transparent;
}
#content .form #messages .content.status_pending,
.modal .form #messages .content.status_pending,
#content .ui.form #messages .content.status_pending,
.modal .ui.form #messages .content.status_pending {
  border-left-color: #ff3;
}
#content .form #messages .content.status_approved,
.modal .form #messages .content.status_approved,
#content .ui.form #messages .content.status_approved,
.modal .ui.form #messages .content.status_approved {
  border-left-color: #dd002a;
}
#content .form #messages .content.status_rejected,
.modal .form #messages .content.status_rejected,
#content .ui.form #messages .content.status_rejected,
.modal .ui.form #messages .content.status_rejected {
  border-left-color: #f00;
  opacity: 0.5;
}
#content .form .block,
.modal .form .block,
#content .ui.form .block,
.modal .ui.form .block {
  max-height: 20rem;
  display: block;
  overflow: auto;
}
#content .form .block table,
.modal .form .block table,
#content .ui.form .block table,
.modal .ui.form .block table {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: solid 1px #dcdcdc;
}
#content .form .block table tbody td,
.modal .form .block table tbody td,
#content .ui.form .block table tbody td,
.modal .ui.form .block table tbody td {
  padding: 1rem;
}
#content .form .block table tbody td a,
.modal .form .block table tbody td a,
#content .ui.form .block table tbody td a,
.modal .ui.form .block table tbody td a {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #151d28;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
  margin: 0 0.25rem;
}
#content .form .block table tbody td a:hover,
.modal .form .block table tbody td a:hover,
#content .ui.form .block table tbody td a:hover,
.modal .ui.form .block table tbody td a:hover {
  color: #dd002a;
}
#content .form .hidden,
.modal .form .hidden,
#content .ui.form .hidden,
.modal .ui.form .hidden {
  display: none;
}
#content .form .avatar img,
.modal .form .avatar img,
#content .ui.form .avatar img,
.modal .ui.form .avatar img {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
}
#content .form .none,
.modal .form .none,
#content .ui.form .none,
.modal .ui.form .none {
  display: none;
}
#content .section.info,
.modal .section.info {
  background-color: #fff;
  padding: 0;
  margin-bottom: 2rem;
  border: none;
}
#content .tab .section.info,
.modal .tab .section.info {
  padding: 2rem 1rem 1rem 1rem;
  margin-bottom: 0;
  border: none;
}
#content .attached,
.modal .attached {
  padding: 0;
  border: none;
}
#content .dataTables_wrapper .grid.form,
.modal .dataTables_wrapper .grid.form {
  padding: 0;
  margin: 0 0 2rem 0;
}
#content .dataTables_wrapper .grid.form .column,
.modal .dataTables_wrapper .grid.form .column {
  padding: 0;
}
#content .dataTables_wrapper .dataTable,
.modal .dataTables_wrapper .dataTable {
  padding: 0;
  margin: 0 0 2rem 0;
  border: none;
}
#content .dataTables_wrapper .dataTable thead tr,
.modal .dataTables_wrapper .dataTable thead tr {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  color: #0a0d17;
  text-transform: uppercase;
}
#content .dataTables_wrapper .dataTable thead tr .sorting,
.modal .dataTables_wrapper .dataTable thead tr .sorting,
#content .dataTables_wrapper .dataTable thead tr .sorting_asc,
.modal .dataTables_wrapper .dataTable thead tr .sorting_asc,
#content .dataTables_wrapper .dataTable thead tr .sorting_desc,
.modal .dataTables_wrapper .dataTable thead tr .sorting_desc,
#content .dataTables_wrapper .dataTable thead tr .sorting_asc_disabled,
.modal .dataTables_wrapper .dataTable thead tr .sorting_asc_disabled,
#content .dataTables_wrapper .dataTable thead tr .sorting_desc_disabled,
.modal .dataTables_wrapper .dataTable thead tr .sorting_desc_disabled {
  background-color: transparent;
}
#content .dataTables_wrapper .dataTable thead tr .sorting:after,
.modal .dataTables_wrapper .dataTable thead tr .sorting:after,
#content .dataTables_wrapper .dataTable thead tr .sorting_asc:after,
.modal .dataTables_wrapper .dataTable thead tr .sorting_asc:after,
#content .dataTables_wrapper .dataTable thead tr .sorting_desc:after,
.modal .dataTables_wrapper .dataTable thead tr .sorting_desc:after {
  font-family: 'icons', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #dd002a;
  float: right;
}
#content .dataTables_wrapper .dataTable thead tr .sorting:after,
.modal .dataTables_wrapper .dataTable thead tr .sorting:after {
  color: #151d28;
  content: "\f106";
}
#content .dataTables_wrapper .dataTable thead tr .sorting_asc:after,
.modal .dataTables_wrapper .dataTable thead tr .sorting_asc:after {
  content: "\f106";
}
#content .dataTables_wrapper .dataTable thead tr .sorting_desc:after,
.modal .dataTables_wrapper .dataTable thead tr .sorting_desc:after {
  content: "\f107";
}
#content .dataTables_wrapper .dataTable thead td,
.modal .dataTables_wrapper .dataTable thead td {
  padding: 1.25rem 2rem;
}
#content .dataTables_wrapper .dataTable thead td:hover,
.modal .dataTables_wrapper .dataTable thead td:hover {
  cursor: pointer;
}
#content .dataTables_wrapper .dataTable tbody tr,
.modal .dataTables_wrapper .dataTable tbody tr {
  cursor: pointer;
}
#content .dataTables_wrapper .dataTable tbody tr a,
.modal .dataTables_wrapper .dataTable tbody tr a {
  color: #151d28;
}
#content .dataTables_wrapper .dataTable tbody tr a:hover,
.modal .dataTables_wrapper .dataTable tbody tr a:hover {
  color: #dd002a;
}
#content .dataTables_wrapper .dataTable tbody tr:hover,
.modal .dataTables_wrapper .dataTable tbody tr:hover {
  color: #0a0d17;
  background-color: #f8f8f8;
}
#content .dataTables_wrapper .dataTable tbody tr:active,
.modal .dataTables_wrapper .dataTable tbody tr:active {
  color: #fff;
  background-color: #dd002a;
}
#content .dataTables_wrapper .dataTable tbody tr:active a,
.modal .dataTables_wrapper .dataTable tbody tr:active a {
  color: #fff;
}
#content .dataTables_wrapper .dataTable tbody td,
.modal .dataTables_wrapper .dataTable tbody td {
  padding: 1.25rem 2rem;
  border-left: solid 4px transparent;
}
#content .dataTables_wrapper .dataTable tbody td.status_pending,
.modal .dataTables_wrapper .dataTable tbody td.status_pending {
  border-left-color: #ff3;
}
#content .dataTables_wrapper .dataTable tbody td.status_quote,
.modal .dataTables_wrapper .dataTable tbody td.status_quote {
  border-left-color: #f00;
}
#content .dataTables_wrapper .dataTable tbody td.status_toPay,
.modal .dataTables_wrapper .dataTable tbody td.status_toPay {
  border-left-color: #f00;
}
#content .dataTables_wrapper .dataTable tbody td.status_active,
.modal .dataTables_wrapper .dataTable tbody td.status_active {
  border-left-color: #151d28;
}
#content .dataTables_wrapper .dataTable tbody td.status_finished,
.modal .dataTables_wrapper .dataTable tbody td.status_finished {
  border-left-color: #dd002a;
}
#content .dataTables_wrapper .dataTable tbody td.title,
.modal .dataTables_wrapper .dataTable tbody td.title {
  text-transform: uppercase;
  font-weight: bold;
}
#content .dataTables_wrapper .dataTable tfoot td,
.modal .dataTables_wrapper .dataTable tfoot td {
  padding: 0 1rem;
}
#content .dataTables_wrapper .dataTable tfoot td input,
.modal .dataTables_wrapper .dataTable tfoot td input {
  padding: 1rem;
  border-top: none;
  border-right: none;
  border-left: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
}
#content .dataTables_wrapper .dataTable tfoot td input[type=text],
.modal .dataTables_wrapper .dataTable tfoot td input[type=text],
#content .dataTables_wrapper .dataTable tfoot td input[type=email],
.modal .dataTables_wrapper .dataTable tfoot td input[type=email],
#content .dataTables_wrapper .dataTable tfoot td input[type=search],
.modal .dataTables_wrapper .dataTable tfoot td input[type=search],
#content .dataTables_wrapper .dataTable tfoot td input[type=password],
.modal .dataTables_wrapper .dataTable tfoot td input[type=password],
#content .dataTables_wrapper .dataTable tfoot td input[type=date],
.modal .dataTables_wrapper .dataTable tfoot td input[type=date],
#content .dataTables_wrapper .dataTable tfoot td input[type=datetime-local],
.modal .dataTables_wrapper .dataTable tfoot td input[type=datetime-local],
#content .dataTables_wrapper .dataTable tfoot td input[type=tel],
.modal .dataTables_wrapper .dataTable tfoot td input[type=tel],
#content .dataTables_wrapper .dataTable tfoot td input[type=time],
.modal .dataTables_wrapper .dataTable tfoot td input[type=time],
#content .dataTables_wrapper .dataTable tfoot td input[type=url],
.modal .dataTables_wrapper .dataTable tfoot td input[type=url],
#content .dataTables_wrapper .dataTable tfoot td input[type=number],
.modal .dataTables_wrapper .dataTable tfoot td input[type=number] {
  font-size: 1rem;
  background-color: #fff;
}
#content .dataTables_wrapper .dataTable tfoot td .dropdown,
.modal .dataTables_wrapper .dataTable tfoot td .dropdown {
  padding: 1rem;
  border-top: solid 2px transparent;
  border-right: none;
  border-left: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#content .dataTables_wrapper .dataTable tfoot td .dropdown.active .menu,
.modal .dataTables_wrapper .dataTable tfoot td .dropdown.active .menu {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#content .dataTables_wrapper .dataTable .details,
.modal .dataTables_wrapper .dataTable .details {
  width: 100%;
}
#content .dataTables_wrapper .dataTable .details .key,
.modal .dataTables_wrapper .dataTable .details .key {
  width: 25%;
  text-transform: uppercase;
  font-size: 0.9rem;
}
#content .dataTables_wrapper .dataTable .details .value,
.modal .dataTables_wrapper .dataTable .details .value {
  width: 25%;
}
#content .dataTables_wrapper .dataTable .button,
.modal .dataTables_wrapper .dataTable .button,
#content .dataTables_wrapper .dataTable .buttons .button,
.modal .dataTables_wrapper .dataTable .buttons .button,
#content .dataTables_wrapper .dataTable a,
.modal .dataTables_wrapper .dataTable a {
  font-size: 1rem;
  color: #151d28;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.25rem 0;
  margin: 0 0.25rem;
}
#content .dataTables_wrapper .dataTable .button:hover,
.modal .dataTables_wrapper .dataTable .button:hover,
#content .dataTables_wrapper .dataTable .buttons .button:hover,
.modal .dataTables_wrapper .dataTable .buttons .button:hover,
#content .dataTables_wrapper .dataTable a:hover,
.modal .dataTables_wrapper .dataTable a:hover {
  color: #dd002a;
}
#content .dataTables_wrapper .dataTable .button:active,
.modal .dataTables_wrapper .dataTable .button:active,
#content .dataTables_wrapper .dataTable .buttons .button:active,
.modal .dataTables_wrapper .dataTable .buttons .button:active,
#content .dataTables_wrapper .dataTable a:active,
.modal .dataTables_wrapper .dataTable a:active {
  color: #fff;
}
#content .dataTables_wrapper .dataTable .hidden,
.modal .dataTables_wrapper .dataTable .hidden {
  display: none;
}
#content .dataTables_wrapper .dataTable .center,
.modal .dataTables_wrapper .dataTable .center {
  text-align: center;
}
#content .dataTables_wrapper .dataTable .padding,
.modal .dataTables_wrapper .dataTable .padding {
  padding: 0;
}
#content .dataTables_wrapper .dataTables_length label,
.modal .dataTables_wrapper .dataTables_length label,
#content .dataTables_wrapper .dataTables_filter label,
.modal .dataTables_wrapper .dataTables_filter label {
  font-size: 1rem;
  margin: 1rem;
  display: inline-block;
  vertical-align: bottom;
}
#content .dataTables_wrapper .dataTables_filter label,
.modal .dataTables_wrapper .dataTables_filter label {
  display: none;
}
#content .dataTables_wrapper .dropdown,
.modal .dataTables_wrapper .dropdown,
#content .dataTables_wrapper #table_filter_input,
.modal .dataTables_wrapper #table_filter_input {
  width: auto;
  padding: 1rem;
}
#content .dataTables_wrapper .dropdown .menu .item,
.modal .dataTables_wrapper .dropdown .menu .item,
#content .dataTables_wrapper #table_filter_input .menu .item,
.modal .dataTables_wrapper #table_filter_input .menu .item {
  border: none;
}
#content .dataTables_wrapper .right,
.modal .dataTables_wrapper .right {
  text-align: right;
}
#content .dataTables_wrapper .dataTables_info,
.modal .dataTables_wrapper .dataTables_info {
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-left: 1.25rem;
  display: inline-block;
}
#content .dataTables_wrapper .menu.pagination,
.modal .dataTables_wrapper .menu.pagination {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#content .dataTables_wrapper .menu.pagination .item,
.modal .dataTables_wrapper .menu.pagination .item {
  color: #dd002a;
  border: solid 1px #dd002a;
}
#content .dataTables_wrapper .menu.pagination .item.active,
.modal .dataTables_wrapper .menu.pagination .item.active,
#content .dataTables_wrapper .menu.pagination .item .active:hover,
.modal .dataTables_wrapper .menu.pagination .item .active:hover {
  color: #fff;
  background-color: #dd002a;
}
#content .dataTables_wrapper .menu.pagination .item:hover,
.modal .dataTables_wrapper .menu.pagination .item:hover {
  color: #fff;
  background-color: #dd002a;
}
#content .dataTables_wrapper .menu.pagination .item:last-child,
.modal .dataTables_wrapper .menu.pagination .item:last-child,
#content .dataTables_wrapper .menu.pagination .item:first-child,
.modal .dataTables_wrapper .menu.pagination .item:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#content .ui.basic.buttons,
.modal .ui.basic.buttons {
  border: none;
}
#content .ui.basic.buttons .ui.button.buttons-copy,
.modal .ui.basic.buttons .ui.button.buttons-copy,
#content .ui.basic.buttons .ui.button.buttons-print,
.modal .ui.basic.buttons .ui.button.buttons-print {
  font-size: 0.9rem;
  color: #0a0d17 !important;
  background-color: transparent;
  padding: 1rem 0.25rem;
  margin: 0 0.75rem;
}
#content .ui.basic.buttons .ui.button.buttons-copy:hover,
.modal .ui.basic.buttons .ui.button.buttons-copy:hover,
#content .ui.basic.buttons .ui.button.buttons-print:hover,
.modal .ui.basic.buttons .ui.button.buttons-print:hover {
  color: #dd002a !important;
}
#content .ui.basic.buttons .ui.button.buttons-copy:active,
.modal .ui.basic.buttons .ui.button.buttons-copy:active,
#content .ui.basic.buttons .ui.button.buttons-print:active,
.modal .ui.basic.buttons .ui.button.buttons-print:active {
  color: #fff !important;
}
.modal .actions {
  background-color: transparent !important;
  border-top: none !important;
}
.modal .section.info {
  padding: 2rem 1rem 1rem 1rem;
  margin-bottom: 0;
  border: none;
}
.modal .checkbox {
  padding: 1rem 0;
}
.modal .checkbox label {
  padding: 0 4rem 0 2rem !important;
  text-transform: none !important;
}
#footer {
  background-color: #0a0d17;
  width: 100%;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
