* {
  -webkit-font-smoothing: antialiased;
}
html {
  background-color: #fff;
  overflow-y: hidden;
}
html,
body {
  font-size: 12px;
  height: 100%;
  min-height: 100%;
  min-width: 1024px;
}
body {
  color: #252d38;
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
#main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-width: 1024px;
}
#header,
#content,
#footer {
  margin: 0 auto;
}
.inner {
  width: 100%;
  max-width: 1600px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 0;
}
a:focus,
input:focus,
select:focus,
textarea:focus,
tr:focus,
td:focus {
  outline-style: solid;
  outline-color: transparent;
}
a,
button,
label,
.ui.button,
.ui.label {
  font-weight: normal;
}
p {
  text-align: justify;
}
li {
  padding-bottom: 1rem;
}
.ui.form input[type=text],
.ui.form input[type=email],
.ui.form input[type=search],
.ui.form input[type=password],
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=tel],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.form input[type=number] {
  padding: 1rem;
}
.ui.dropdown {
  padding: 1rem !important;
}
.ui.button,
.ui.buttons .ui.button {
  color: #0a0d17;
  background-color: #dd002a;
  border: 1px solid transparent;
  padding: 1.25rem 2rem;
  text-align: center;
}
.ui.button:hover,
.ui.buttons .ui.button:hover {
  color: #fff;
  background-color: #151d28;
}
.ui.button:active,
.ui.buttons .ui.button:active {
  color: #fff;
  background-color: #dd002a;
}
.center {
  text-align: center;
}
input#name,
input#lastName,
input#city,
input#state,
input#address {
  text-transform: capitalize;
}
input#email {
  text-transform: lowercase;
}
input#phone,
input#emergencyPhone,
input#postCode,
input#nss,
input#curp,
input#rfc {
  text-transform: uppercase;
}
::-webkit-input-placeholder {
  text-transform: initial;
}
:-moz-placeholder {
  text-transform: initial;
}
::-moz-placeholder {
  text-transform: initial;
}
:-ms-input-placeholder {
  text-transform: initial;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  background-color: #151d28;
}
body {
  background-color: transparent;
}
#main {
  background-color: #fff;
  width: 100%;
  max-width: 45rem;
  min-width: 20rem;
  margin: 4rem auto 0 auto;
  padding: 4rem;
  -webkit-box-shadow: 0 0 1rem rgba(10,13,23,0.5);
  -moz-box-shadow: 0 0 1rem rgba(10,13,23,0.5);
  box-shadow: 0 0 1rem rgba(10,13,23,0.5);
}
#main .ui.header {
  text-align: center;
}
#main .ui.header .logo {
  width: auto;
  height: 180px;
  margin: 0 auto;
}
#main .ui.header .logo img {
  width: auto;
  height: 180px;
  margin: 0 auto;
  opacity: 1;
}
#main .ui.header .title {
  font-size: 1rem;
  color: #dd002a;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
#main .ui.header .title .description {
  color: #0a0d17;
  padding: 1rem 0;
  text-transform: none;
}
#main .form,
#main .ui.form {
  max-width: 25rem;
  margin: 0 auto;
}
#main .form .button,
#main .ui.form .button,
#main .form .buttons .button,
#main .ui.form .buttons .button,
#main .form a,
#main .ui.form a {
  color: #fff;
  background-color: #dd002a;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 1.5rem 3rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0 auto;
  display: block;
}
#main .form .button:hover,
#main .ui.form .button:hover,
#main .form .buttons .button:hover,
#main .ui.form .buttons .button:hover,
#main .form a:hover,
#main .ui.form a:hover {
  color: #fff;
  background-color: #0a0d17;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#main .form .button:active,
#main .ui.form .button:active,
#main .form .buttons .button:active,
#main .ui.form .buttons .button:active,
#main .form a:active,
#main .ui.form a:active {
  color: #fff;
  background-color: #0a0d17;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#main .form .ui.message,
#main .ui.form .ui.message {
  color: #0a0d17;
  background-color: transparent;
  padding: 1rem 0;
  margin-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
}
#main .form.loading:before,
#main .ui.form.loading:before {
  background-color: rgba(255,255,255,0.85);
}
#main .form label,
#main .ui.form label {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #0a0d17;
  padding: 0;
  text-transform: uppercase;
}
#main .form input,
#main .ui.form input {
  padding: 1rem;
  border-top: none;
  border-right: none;
  border-left: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#main .form input[type=text],
#main .ui.form input[type=text],
#main .form input[type=email],
#main .ui.form input[type=email],
#main .form input[type=search],
#main .ui.form input[type=search],
#main .form input[type=password],
#main .ui.form input[type=password],
#main .form input[type=date],
#main .ui.form input[type=date],
#main .form input[type=datetime-local],
#main .ui.form input[type=datetime-local],
#main .form input[type=tel],
#main .ui.form input[type=tel],
#main .form input[type=time],
#main .ui.form input[type=time],
#main .form input[type=url],
#main .ui.form input[type=url],
#main .form input[type=number],
#main .ui.form input[type=number] {
  font-size: 1rem;
  background-color: #fff;
}
#main .form .field,
#main .ui.form .field {
  margin: 0 0 1rem 0;
}
#main .ui.message {
  font-size: 0.9rem;
  color: #0a0d17;
  background-color: transparent;
  padding: 0.5rem 0;
  text-align: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 2.25rem;
}
#main .ui.message a {
  color: #0a0d17;
}
#main .ui.message a:hover {
  color: #dd002a;
}
#main .ui.message a.left {
  float: left;
}
#main .ui.message a.right {
  float: right;
}
#main .section.info {
  background-color: #fff;
  padding: 0;
  margin-bottom: 2rem;
  border: none;
}
