.ui.modal.large#modalAnthropometric
  .content
    .section.info
      form.ui.form#formAnthropometric(method="post")
        .fields
          .four.wide.field
            .field.required#weight_
              label #{languages.strings(language, 'weight')}
              input#weight(type="text", name="weight", placeholder=languages.strings(language, 'weight'), value="", autofocus)
          .four.wide.field
            .field.required#height_
              label #{languages.strings(language, 'height')}
              input#height(type="text", name="height", placeholder=languages.strings(language, 'height'), value="")
          .four.wide.field
            .field.required#imc_
              label #{languages.strings(language, 'imc')}
              input#imc(type="text", name="imc", placeholder=languages.strings(language, 'imc'), value="")
          .four.wide.field
            .field.required#percentBodyFat_
              label #{languages.strings(language, 'percentBodyFat')}
              input#percentBodyFat(type="text", name="percentBodyFat", placeholder=languages.strings(language, 'percentBodyFat'), value="")
        .fields
          .four.wide.field
            .field.required#percentBodyMass_
              label #{languages.strings(language, 'percentBodyMass')}
              input#percentBodyMass(type="text", name="percentBodyMass", placeholder=languages.strings(language, 'percentBodyMass'), value="")
          .four.wide.field
            .field.required#percentVisceralFat_
              label #{languages.strings(language, 'percentVisceralFat')}
              input#percentVisceralFat(type="text", name="percentVisceralFat", placeholder=languages.strings(language, 'percentVisceralFat'), value="")
          .four.wide.field
            .field#waist_
              label #{languages.strings(language, 'waist')}
              input#waist(type="text", name="waist", placeholder=languages.strings(language, 'waist'), value="")
          .four.wide.field
            .field#abdomen_
              label #{languages.strings(language, 'abdomen')}
              input#abdomen(type="text", name="abdomen", placeholder=languages.strings(language, 'abdomen'), value="")
        .fields
          .four.wide.field
            .field#hip_
              label #{languages.strings(language, 'hip')}
              input#hip(type="text", name="hip", placeholder=languages.strings(language, 'hip'), value="")
          .four.wide.field
            .field#bicep_
              label #{languages.strings(language, 'bicep')}
              input#bicep(type="text", name="bicep", placeholder=languages.strings(language, 'bicep'), value="")
          .four.wide.field
            .field#tricep_
              label #{languages.strings(language, 'tricep')}
              input#tricep(type="text", name="tricep", placeholder=languages.strings(language, 'tricep'), value="")
          .four.wide.field
            .field#thigh_
              label #{languages.strings(language, 'thigh')}
              input#thigh(type="text", name="thigh", placeholder=languages.strings(language, 'thigh'), value="")
        .fields
          .four.wide.field
            .field#leg_
              label #{languages.strings(language, 'leg')}
              input#leg(type="text", name="leg", placeholder=languages.strings(language, 'leg'), value="")
          .four.wide.field
            .field#subscapular_
              label #{languages.strings(language, 'subscapular')}
              input#subscapular(type="text", name="subscapular", placeholder=languages.strings(language, 'subscapular'), value="")
          .four.wide.field
            .field#suprailiac_
              label #{languages.strings(language, 'suprailiac')}
              input#suprailiac(type="text", name="suprailiac", placeholder=languages.strings(language, 'suprailiac'), value="")
          .four.wide.field
            .field#supraspinal_
              label #{languages.strings(language, 'supraspinal')}
              input#supraspinal(type="text", name="supraspinal", placeholder=languages.strings(language, 'supraspinal'), value="")
        .fields
          .eight.wide.field
            .field#goal_
              label #{languages.strings(language, 'goal')}
              textarea#goal(rows="3", name="goal", placeholder=languages.strings(language, 'goal'))
      .actions
        button.ui.button#addAnthropometric
          i.icon.plus
          | #{languages.strings(language, 'add')}
        button.ui.cancel.button
          i.icon.cancel
          | #{languages.strings(language, 'cancel')}
