.section.info
  table.ui.table.striped.unstackable#tableAnthropometric
    thead
      tr
        td #{languages.strings(language, 'id')}
        td #{languages.strings(language, 'createdAt')}
        td #{languages.strings(language, 'weight')}
        td #{languages.strings(language, 'height')}
        td #{languages.strings(language, 'imc')}
        td #{languages.strings(language, 'percentBodyFat')}
        td #{languages.strings(language, 'percentBodyMass')}
        td #{languages.strings(language, 'percentVisceralFat')}
        td #{languages.strings(language, 'waist')}
        td #{languages.strings(language, 'abdomen')}
        td #{languages.strings(language, 'bicep')}
        td #{languages.strings(language, 'tricep')}
        td #{languages.strings(language, 'hip')}
        td #{languages.strings(language, 'thigh')}
        td #{languages.strings(language, 'leg')}
        td #{languages.strings(language, 'subscapular')}
        td #{languages.strings(language, 'suprailiac')}
        td #{languages.strings(language, 'supraspinal')}
        td #{languages.strings(language, 'goal')}
        td #{languages.strings(language, 'createdBy')}
    tbody
      if(anthropometric_)
        each item in data.anthropometric
          tr
            td #{item._id}
            td #{formatDateTime(item.createdAt)}
            td #{item.weight}
            td #{item.height}
            td #{item.imc}
            td #{item.percentBodyFat}
            td #{item.percentBodyMass}
            td #{item.percentVisceralFat}
            td #{item.waist}
            td #{item.abdomen}
            td #{item.hip}
            td #{item.bicep}
            td #{item.tricep}
            td #{item.thigh}
            td #{item.leg}
            td #{item.subscapular}
            td #{item.suprailiac}
            td #{item.supraspinal}
            td #{item.goal}
            td #{item.createdBy.name + ' ' + item.createdBy.lastName}
  .actions
    if(roleSystem_ || roleNutrologist_)
      button.ui.button.inline#showAnthropometric
        i.icon.plus
        | #{languages.strings(language, 'add')}
