.section.info
  table.ui.table.striped.unstackable#tableAssists
    thead
      tr
        td #{languages.strings(language, 'id')}
        td #{languages.strings(language, 'createdAt')}
        td #{languages.strings(language, 'arrival')}
        td #{languages.strings(language, 'departure')}
    tbody
      if(assistance_)
        each item in data.assistance
          tr
            td #{item._id}
            td #{formatDateTime(item.createdAt)}
            td #{formatHour(item.arrival)}
            td #{formatHour(item.departure)}
