a.section(href="/", title=languages.strings(language, 'home')) #{languages.strings(language, 'home')}
.divider /
a.section(href="/admin", title=languages.strings(language, 'admin')) #{languages.strings(language, 'admin')}
if(pathParent && (add_ || edit_))
  .divider /
  a.section(href="/admin/#{pathParent}", title=languages.strings(language, pathParent)) #{languages.strings(language, pathParent)}
.divider /
a.section.active(href="/admin/#{path.replace('-', '/')}", title=title) #{title}