.ui.modal.large#modalClinical
  .content
    .section.info
      form.ui.form#formClinical(method="post")
        .fields
          .four.wide.field
            .field.required#diagnosis_
              label #{languages.strings(language, 'diagnosis')}
              input#diagnosis(type="text", name="diagnosis", placeholder=languages.strings(language, 'diagnosis'), value="", autofocus)
          .four.wide.field
            .field.required#medicines_
              label #{languages.strings(language, 'medicines')}
              input#medicines(type="text", name="medicines", placeholder=languages.strings(language, 'medicines'), value="")
          .four.wide.field
            .field.required#hoursOfSleep_
              label #{languages.strings(language, 'hoursOfSleep')}
              input#hoursOfSleep(type="text", name="hoursOfSleep", placeholder=languages.strings(language, 'hoursOfSleep'), value="")
        .fields
          .sixteen.wide.field.required
            label #{languages.strings(language, 'familyHistory')}
        .fields
          .two.wide.field
            .ui.checkbox
              input#obesity(type='checkbox')
              label(for='obesity') #{languages.strings(language, 'obesity')}
          .two.wide.field
            .ui.checkbox
              input#diabetes(type='checkbox')
              label(for='diabetes') #{languages.strings(language, 'diabetes')}
          .two.wide.field
            .ui.checkbox
              input#hta(type='checkbox')
              label(for='hta') #{languages.strings(language, 'hta')}
          .two.wide.field
            .ui.checkbox
              input#cancer(type='checkbox')
              label(for='cancer') #{languages.strings(language, 'cancer')}
          .two.wide.field
            .ui.checkbox
              input#hypercholesterolemia(type='checkbox')
              label(for='hypercholesterolemia') #{languages.strings(language, 'hypercholesterolemia')}
      .actions
        button.ui.button#addClinical
          i.icon.plus
          | #{languages.strings(language, 'add')}
        button.ui.cancel.button
          i.icon.cancel
          | #{languages.strings(language, 'cancel')}
