.section.info
  table.ui.table.striped.unstackable#tableClinical
    thead
      tr
        td #{languages.strings(language, 'id')}
        td #{languages.strings(language, 'createdAt')}
        td #{languages.strings(language, 'diagnosis')}
        td #{languages.strings(language, 'medicines')}
        td #{languages.strings(language, 'hoursOfSleep')}
        td #{languages.strings(language, 'obesity')}
        td #{languages.strings(language, 'diabetes')}
        td #{languages.strings(language, 'hta')}
        td #{languages.strings(language, 'cancer')}
        td #{languages.strings(language, 'hypercholesterolemia')}
        td #{languages.strings(language, 'createdBy')}
    tbody
      if(clinical_)
        each item in data.clinical
          tr
            td #{item._id}
            td #{formatDateTime(item.createdAt)}
            td #{item.diagnosis}
            td #{item.medicines}
            td #{item.hoursOfSleep}
            td #{item.obesity}
            td #{item.diabetes}
            td #{item.hta}
            td #{item.cancer}
            td #{item.hypercholesterolemia}
            td #{item.createdBy.name + ' ' + item.createdBy.lastName}
  .actions
    if(roleSystem_ || roleNutrologist_)
      button.ui.button.inline#showClinical
        i.icon.plus
        | #{languages.strings(language, 'add')}
