.section.info
  table.ui.table.striped.unstackable#tableContracts
    thead
      tr
        td #{languages.strings(language, 'id')}
        td #{languages.strings(language, 'createdAt')}
        td #{languages.strings(language, 'classe')}
        td #{languages.strings(language, 'trainingPlan')}
        td #{languages.strings(language, 'sugestedPrice')}
        td #{languages.strings(language, 'price')}
        td #{languages.strings(language, 'startDate')}
        td #{languages.strings(language, 'paymentMethod')}
        td #{languages.strings(language, 'paymentQuantity')}
        td #{languages.strings(language, 'createdBy')}
    tbody
      if(contracts_)
        each item in data.contracts
          tr
            td #{item._id}
            td #{formatDateTime(item.createdAt)}
            td #{item.location.name} | #{item.startTime.hours}:#{item.startTime.minutes} #{languages.strings(language, item.startTime.ampm)} | #{item.category.name} | #{languages.strings(language, 'classRoom')} #{item.classRoom}
            td #{languages.strings(language, item.trainingPlan)}
            td $ #{parseFloat(Math.round(item.sugestedPrice * 100) / 100).toFixed(2)}
            td $ #{parseFloat(Math.round(item.price * 100) / 100).toFixed(2)}
            td #{formatDateTime(item.startDate)}
            td #{languages.strings(item.paymentMethod)}
            td #{languages.strings(item.paymentQuantity)}
            td #{item.createdBy.name + ' ' + item.createdBy.lastName}
  .actions
    if(roleSystem_ || roleReceptionist_)
      button.ui.button.inline#showContracts
        i.icon.plus
        | #{languages.strings(language, 'add')}
