.ui.modal.large#modalContracts
  .content
    .section.info
      form.ui.form#formContracts(method="post")
        .fields
          .eight.wide.field
            .field.required#classe_
              label #{languages.strings(language, 'classe')}
              select.ui.dropdown.fluid.search#classe(type="text", name="classe")
                option(value="", selected="selected") #{languages.strings(language, 'classe')}
                if(classes)
                  each item in classes
                    option(value=item._id) #{item.location.name} | #{item.startTime.hours}:#{item.startTime.minutes} #{languages.strings(language, item.startTime.ampm)} | #{item.category.name} | #{languages.strings(language, 'classRoom')} #{item.classRoom}
          .four.wide.field
            .field.required#trainingPlan_
              label #{languages.strings(language, 'trainingPlan')}
              select.ui.dropdown.fluid.search#trainingPlan(type="text", name="trainingPlan")
                option(value="", selected="selected") #{languages.strings(language, 'trainingPlan')}
                if(trainingPlans)
                  each item in trainingPlans
                    option(value=item.key) #{item.val}
          if(classes)
            .four.wide.field
              .field#sugestedPrice_
                label #{languages.strings(language, 'sugestedPrice')}
                .ui.left.labeled.input
                  .ui.basic.label $
                  input#sugestedPrice(type="number", name="sugestedPrice", placeholder=languages.strings(language, 'sugestedPrice'), value="", readonly)
              if(location)
                .field#t20days_
                  label #{languages.strings(language, 'sugestedPrice')}
                  .ui.left.labeled.input
                    .ui.basic.label $
                    input#t20days(type="number", name="t20days", placeholder=languages.strings(language, 'sugestedPrice'), value=parseFloat(Math.round(classes[classes.length-1].location.price20 * 100) / 100).toFixed(2), readonly)
                .field#t55days_
                  label #{languages.strings(language, 'sugestedPrice')}
                  .ui.left.labeled.input
                    .ui.basic.label $
                    input#t55days(type="number", name="t55days", placeholder=languages.strings(language, 'sugestedPrice'), value=parseFloat(Math.round(classes[classes.length-1].location.price55 * 100) / 100).toFixed(2), readonly)
        .fields
          .four.wide.field
            .field.required#price_
              label #{languages.strings(language, 'price')}
              .ui.left.labeled.input
                .ui.basic.label $
                input#price(type="number", name="price", placeholder=languages.strings(language, 'price'), value="")
          .four.wide.field
            .field.required#startDate_
              label #{languages.strings(language, 'startDate')}
              input.ui.calendar#startDate(type="text", name="startDate", placeholder=languages.strings(language, 'startDate'), value="")
          .four.wide.field
            .field.required#paymentMethod_
              label #{languages.strings(language, 'paymentMethod')}
              select.ui.dropdown.fluid.search#paymentMethod(type="text", name="paymentMethod")
                option(value="", selected="selected") #{languages.strings(language, 'paymentMethod')}
                if(paymentMethods)
                  each item in paymentMethods
                    option(value=item.key) #{item.val}
          .four.wide.field
            .field.required#paymentQuantity_
              label #{languages.strings(language, 'paymentQuantity')}
              select.ui.dropdown.fluid.search#paymentQuantity(type="text", name="paymentQuantity")
                option(value="", selected="selected") #{languages.strings(language, 'paymentQuantity')}
                if(paymentQuantities)
                  each item in paymentQuantities
                    option(value=item.key) #{item.val}
      .actions
        button.ui.button#addContracts
          i.icon.plus
          | #{languages.strings(language, 'add')}
        button.ui.cancel.button
          i.icon.cancel
          | #{languages.strings(language, 'cancel')}
