.ui.modal.large#modalDietary
  .content
    .section.info
      form.ui.form#formDietary(method="post")
        .fields
          .four.wide.field
            .field.required#mealsPerDay_
              label #{languages.strings(language, 'mealsPerDay')}
              input#mealsPerDay(type="text", name="mealsPerDay", placeholder=languages.strings(language, 'mealsPerDay'), value="", autofocus)
          .four.wide.field
            .field.required#collations_
              label #{languages.strings(language, 'collations')}
              input#collations(type="text", name="collations", placeholder=languages.strings(language, 'collations'), value="")
          .four.wide.field
            .field.required#waterPerDay_
              label #{languages.strings(language, 'waterPerDay')}
              input#waterPerDay(type="text", name="waterPerDay", placeholder=languages.strings(language, 'waterPerDay'), value="")
          .four.wide.field
            .field.required#outsideMealsPerWeek_
              label #{languages.strings(language, 'outsideMealsPerWeek')}
              input#outsideMealsPerWeek(type="text", name="outsideMealsPerWeek", placeholder=languages.strings(language, 'outsideMealsPerWeek'), value="")
        .fields
          .four.wide.field
            .field.required#places_
              label #{languages.strings(language, 'places')}
              input#places(type="text", name="places", placeholder=languages.strings(language, 'places'), value="")
          .four.wide.field
            .field.required#foodIntolerance_
              label #{languages.strings(language, 'foodIntolerance')}
              input#foodIntolerance(type="text", name="foodIntolerance", placeholder=languages.strings(language, 'foodIntolerance'), value="")
          .four.wide.field
            .field.required#nonPreferredFoods_
              label #{languages.strings(language, 'nonPreferredFoods')}
              input#nonPreferredFoods(type="text", name="nonPreferredFoods", placeholder=languages.strings(language, 'nonPreferredFoods'), value="")
          .four.wide.field
            .field.required#cravingsInTheDay_
              label #{languages.strings(language, 'cravingsInTheDay')}
              input#cravingsInTheDay(type="text", name="cravingsInTheDay", placeholder=languages.strings(language, 'cravingsInTheDay'), value="")
        .fields
          .four.wide.field
            .field.required#supplements_
              label #{languages.strings(language, 'supplements')}
              input#supplements(type="text", name="supplements", placeholder=languages.strings(language, 'supplements'), value="")
          .four.wide.field
            .field.required#alcoholConsumption_
              label #{languages.strings(language, 'alcoholConsumption')}
              input#alcoholConsumption(type="text", name="alcoholConsumption", placeholder=languages.strings(language, 'alcoholConsumption'), value="")
          .four.wide.field
            .field.required#tobaccoConsumption_
              label #{languages.strings(language, 'tobaccoConsumption')}
              input#tobaccoConsumption(type="text", name="tobaccoConsumption", placeholder=languages.strings(language, 'tobaccoConsumption'), value="")
          .four.wide.field
            .field.required#coffeeConsumption_
              label #{languages.strings(language, 'coffeeConsumption')}
              input#coffeeConsumption(type="text", name="coffeeConsumption", placeholder=languages.strings(language, 'coffeeConsumption'), value="")
        .fields
          .sixteen.wide.field.required
            label #{languages.strings(language, 'frequentFoods')}
        .fields
          .two.wide.field
            .ui.checkbox
              input#fruits(type='checkbox')
              label(for='fruits') #{languages.strings(language, 'fruits')}
          .two.wide.field
            .ui.checkbox
              input#chicken(type='checkbox')
              label(for='chicken') #{languages.strings(language, 'chicken')}
          .two.wide.field
            .ui.checkbox
              input#soda(type='checkbox')
              label(for='soda') #{languages.strings(language, 'soda')}
          .two.wide.field
            .ui.checkbox
              input#sausages(type='checkbox')
              label(for='sausages') #{languages.strings(language, 'sausages')}
          .two.wide.field
            .ui.checkbox
              input#candies(type='checkbox')
              label(for='candies') #{languages.strings(language, 'candies')}
          .two.wide.field
            .ui.checkbox
              input#vegetables(type='checkbox')
              label(for='vegetables') #{languages.strings(language, 'vegetables')}
          .two.wide.field
            .ui.checkbox
              input#meat(type='checkbox')
              label(for='meat') #{languages.strings(language, 'meat')}
          .two.wide.field
            .ui.checkbox
              input#cofee(type='checkbox')
              label(for='cofee') #{languages.strings(language, 'cofee')}
        .fields
          .two.wide.field
            .ui.checkbox
              input#tortilla(type='checkbox')
              label(for='tortilla') #{languages.strings(language, 'tortilla')}
          .two.wide.field
            .ui.checkbox
              input#milk(type='checkbox')
              label(for='milk') #{languages.strings(language, 'milk')}
          .two.wide.field
            .ui.checkbox
              input#rice(type='checkbox')
              label(for='rice') #{languages.strings(language, 'rice')}
          .two.wide.field
            .ui.checkbox
              input#seafood(type='checkbox')
              label(for='seafood') #{languages.strings(language, 'seafood')}
          .two.wide.field
            .ui.checkbox
              input#juice(type='checkbox')
              label(for='juice') #{languages.strings(language, 'juice')}
          .two.wide.field
            .ui.checkbox
              input#cookies(type='checkbox')
              label(for='cookies') #{languages.strings(language, 'cookies')}
          .two.wide.field
            .ui.checkbox
              input#yoghurt(type='checkbox')
              label(for='yoghurt') #{languages.strings(language, 'yoghurt')}
          .two.wide.field
            .ui.checkbox
              input#greens(type='checkbox')
              label(for='greens') #{languages.strings(language, 'greens')}
        .fields
          .two.wide.field
            .ui.checkbox
              input#eggs(type='checkbox')
              label(for='eggs') #{languages.strings(language, 'eggs')}
          .two.wide.field
            .ui.checkbox
              input#tea(type='checkbox')
              label(for='tea') #{languages.strings(language, 'tea')}
          .two.wide.field
            .ui.checkbox
              input#bread(type='checkbox')
              label(for='bread') #{languages.strings(language, 'bread')}
        .fields
          .four.wide.field
            .field.required#nutritionalDiagnosis_
              label #{languages.strings(language, 'nutritionalDiagnosis')}
              input#nutritionalDiagnosis(type="text", name="nutritionalDiagnosis", placeholder=languages.strings(language, 'nutritionalDiagnosis'), value="")
          .four.wide.field
            .field.required#nutritionalTreatment_
              label #{languages.strings(language, 'nutritionalTreatment')}
              select.ui.dropdown.fluid.search#nutritionalTreatment(type="text", name="nutritionalTreatment")
                option(value="", selected="selected") #{languages.strings(language, 'nutritionalTreatment')}
                if(diets)
                  each item in diets
                    option(value=item.key) #{item.val}
      .actions
        button.ui.button#addDietary
          i.icon.plus
          | #{languages.strings(language, 'add')}
        button.ui.cancel.button
          i.icon.cancel
          | #{languages.strings(language, 'cancel')}
