.section.info
  table.ui.table.striped.unstackable#tableDietary
    thead
      tr
        td #{languages.strings(language, 'id')}
        td #{languages.strings(language, 'createdAt')}
        td #{languages.strings(language, 'mealsPerDay')}
        td #{languages.strings(language, 'collations')}
        td #{languages.strings(language, 'waterPerDay')}
        td #{languages.strings(language, 'outsideMealsPerWeek')}
        td #{languages.strings(language, 'places')}
        td #{languages.strings(language, 'foodIntolerance')}
        td #{languages.strings(language, 'nonPreferredFoods')}
        td #{languages.strings(language, 'cravingsInTheDay')}
        td #{languages.strings(language, 'supplements')}
        td #{languages.strings(language, 'alcoholConsumption')}
        td #{languages.strings(language, 'tobaccoConsumption')}
        td #{languages.strings(language, 'coffeeConsumption')}
        td #{languages.strings(language, 'fruits')}
        td #{languages.strings(language, 'chicken')}
        td #{languages.strings(language, 'soda')}
        td #{languages.strings(language, 'sausages')}
        td #{languages.strings(language, 'candies')}
        td #{languages.strings(language, 'vegetables')}
        td #{languages.strings(language, 'meat')}
        td #{languages.strings(language, 'cofee')}
        td #{languages.strings(language, 'tortilla')}
        td #{languages.strings(language, 'milk')}
        td #{languages.strings(language, 'rice')}
        td #{languages.strings(language, 'seafood')}
        td #{languages.strings(language, 'juice')}
        td #{languages.strings(language, 'cookies')}
        td #{languages.strings(language, 'yoghurt')}
        td #{languages.strings(language, 'greens')}
        td #{languages.strings(language, 'eggs')}
        td #{languages.strings(language, 'tea')}
        td #{languages.strings(language, 'bread')}
        td #{languages.strings(language, 'nutritionalDiagnosis')}
        td #{languages.strings(language, 'nutritionalTreatment')}
        td #{languages.strings(language, 'createdBy')}
    tbody
      if(dietary_)
        each item in data.dietary
          tr
            td #{item._id}
            td #{formatDateTime(item.createdAt)}
            td #{item.mealsPerDay}
            td #{item.collations}
            td #{item.waterPerDay}
            td #{item.outsideMealsPerWeek}
            td #{item.places}
            td #{item.foodIntolerance}
            td #{item.nonPreferredFoods}
            td #{item.cravingsInTheDay}
            td #{item.supplements}
            td #{item.alcoholConsumption}
            td #{item.tobaccoConsumption}
            td #{item.coffeeConsumption}
            td #{item.fruits}
            td #{item.chicken}
            td #{item.soda}
            td #{item.sausages}
            td #{item.candies}
            td #{item.vegetables}
            td #{item.meat}
            td #{item.cofee}
            td #{item.tortilla}
            td #{item.milk}
            td #{item.rice}
            td #{item.seafood}
            td #{item.juice}
            td #{item.cookies}
            td #{item.yoghurt}
            td #{item.greens}
            td #{item.eggs}
            td #{item.tea}
            td #{item.bread}
            td #{item.nutritionalDiagnosis}
            td #{item.nutritionalTreatment}
            td #{item.createdBy.name + ' ' + item.createdBy.lastName}
  .actions
    if(roleSystem_ || roleNutrologist_)
      button.ui.button.inline#showDietary
        i.icon.plus
        | #{languages.strings(language, 'add')}
