.ui.modal.large#modalPayments
  .content
    .section.info
      form.ui.form#formPayments(method="post")
        .fields
          .four.wide.field
            .field.required#diagnosis_
              label #{languages.strings(language, 'diagnosis')}
              input#diagnosis(type="text", name="diagnosis", placeholder=languages.strings(language, 'diagnosis'), value="")
          .four.wide.field
            .field.required#medicines_
              label #{languages.strings(language, 'medicines')}
              input#medicines(type="text", name="medicines", placeholder=languages.strings(language, 'medicines'), value="")
          .four.wide.field
            .field.required#hoursOfSleep_
              label #{languages.strings(language, 'hoursOfSleep')}
              input#hoursOfSleep(type="text", name="hoursOfSleep", placeholder=languages.strings(language, 'hoursOfSleep'), value="")
      .actions
        button.ui.button#addPayments
          i.icon.plus
          | #{languages.strings(language, 'add')}
        button.ui.cancel.button
          i.icon.cancel
          | #{languages.strings(language, 'cancel')}
