.section.info
  table.ui.table.striped.unstackable#tablePayments
    thead
      tr
        td #{languages.strings(language, 'id')}
        td #{languages.strings(language, 'createdAt')}
        td #{languages.strings(language, 'contract')}
        td #{languages.strings(language, 'generation')}
        td #{languages.strings(language, 'paymentMethod')}
        td #{languages.strings(language, 'paymentQuantity')}
        td #{languages.strings(language, 'price')}
        td #{languages.strings(language, 'createdBy')}
    tbody
      if(payments_)
        each item in data.payments
          tr
            td #{item._id}
            td #{formatDateTime(item.createdAt)}
            td #{item.contract}
            td #{item.generation}
            td #{item.paymentMethod}
            td #{item.paymentQuantity}
            td $ #{parseFloat(Math.round(item.price * 100) / 100).toFixed(2)}
            td #{item.createdBy.name + ' ' + item.createdBy.lastName}