.section.info
  table.ui.table.striped.unstackable#tablePhotos
    thead
      tr
        td #{languages.strings(language, 'id')}
        td #{languages.strings(language, 'createdAt')}
        td #{languages.strings(language, 'front')}
        td #{languages.strings(language, 'back')}
        td #{languages.strings(language, 'createdBy')}
    tbody
      if(photos_)
        each item in data.photos
          tr
            td #{item._id}
            td #{formatDateTime(item.createdAt)}
            td #{item.front}
            td #{item.back}
            td #{item.createdBy.name + ' ' + item.createdBy.lastName}
  .actions
    if(roleSystem_ || roleNutrologist_)
      button.ui.button.inline#showPhotos
        i.icon.plus
        | #{languages.strings(language, 'add')}
