.ui.modal.large#modalPhotos
  .content
    .section.info
      form.ui.form#formPhotos(method="post")
        .fields
          .four.wide.field.five.wide.field
            .field.required#front_
              label #{languages.strings(language, 'front')}
              button.ui.button.inline.pop#frontFile(title=languages.strings(language, 'addNewImage'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'front')}
              input#front(type="file", accept="image/jpeg", name="front", placeholder=languages.strings(language, 'front'))
          .four.wide.field
            .field.required#back_
              label #{languages.strings(language, 'back')}
              button.ui.button.inline.pop#backFile(title=languages.strings(language, 'addNewImage'))
                i.icon.cloud.selector
                span #{languages.strings(language, 'back')}
              input#back(type="file", accept="image/jpeg", name="back", placeholder=languages.strings(language, 'back'))
      .actions
        button.ui.button#addPhotos
          i.icon.plus
          | #{languages.strings(language, 'add')}
        button.ui.cancel.button
          i.icon.cancel
          | #{languages.strings(language, 'cancel')}
