.item.card
  img.ui.image.avatar(src="#{(user.avatar ? bucket + '/avatars/' + user.avatar : '/images/avatar.jpg')}")
  .header #{user.name} #{user.lastName}
  .meta
    a.button.info#editProfile(href=((roleSystem_ || roleNutrologist_ || roleReceptionist_) ? "/admin/employees/profile" : "/admin/users/profile"), title="#{languages.strings(language, 'editProfile')}")
      i.icon.user
    a.button.info#logout(href="#", title="#{languages.strings(language, 'logout')}")
      i.icon.sign.out
.item.header #{languages.strings(language, 'navigation')}
if(roleSystem_)
  a.item.button(class=(pathEmployees_ ? (!pathProfileEmployee_ ? "active" : "") : ""), href="/admin/employees", title=languages.strings(language, 'employees'))
    i.icon.user
    | #{languages.strings(language, 'employees')}
if(roleSystem_ || roleNutrologist_ || roleReceptionist_)
  a.item.button(class=(pathUsers_ ? (!pathProfileUser_ ? "active" : "") : ""), href="/admin/users", title=languages.strings(language, 'users'))
    i.icon.users
    | #{languages.strings(language, 'users')}
if(roleSystem_)
  //a.item.button(class=(pathPayments_ ? 'active' : ""), href="#", title=languages.strings(language, 'payments'))
  //  i.icon.payment
  //  | #{languages.strings(language, 'payments')}
  //a.item.button(class=(patSchedues_ ? 'active' : ""), href="#", title=languages.strings(language, 'scheedules'))
  //  i.icon.calendar
  //  | #{languages.strings(language, 'schedules')}
  //.item.header #{languages.strings(language, 'configuration')}
  a.item.button(class=(pathStates_ ? 'active' : ""), href="/admin/states", title=languages.strings(language, 'states'))
    i.icon.globe
    | #{languages.strings(language, 'states')}
  a.item.button(class=(pathCities_ ? "active" : ""), href="/admin/cities", title=languages.strings(language, 'cities'))
    i.icon.location.arrow
    | #{languages.strings(language, 'cities')}
  a.item.button(class=(pathLocations_ ? "active" : ""), href="/admin/locations", title=languages.strings(language, 'locations'))
    i.icon.building
    | #{languages.strings(language, 'locations')}
  a.item.button(class=(pathCategories_ ? 'active' : ""), href="/admin/categories", title=languages.strings(language, 'categories'))
    i.icon.cubes
    | #{languages.strings(language, 'categories')}
  a.item.button(class=(pathClasses_ ? 'active' : ""), href="/admin/classes", title=languages.strings(language, 'classes'))
    i.icon.calendar
    | #{languages.strings(language, 'classes')}
  //a.item.button(class=(pathGenerations_ ? 'active' : ""), href="/admin/generations", title=languages.strings(language, 'generations'))
  //  i.icon.university
  //  | #{languages.strings(language, 'generations')}
  a.item.button(class=(pathReports_ ? 'active' : ""), href="#", title=languages.strings(language, 'reports'))
    i.icon.print
    | #{languages.strings(language, 'reports')}
