.section.info
  table.ui.table.striped.unstackable#tableTests
    thead
      tr
        td #{languages.strings(language, 'id')}
        td #{languages.strings(language, 'createdAt')}
        td #{languages.strings(language, 'squats')}
        td #{languages.strings(language, 'pushUps')}
        td #{languages.strings(language, 'sitUps')}
        td #{languages.strings(language, 'burpees')}
        td #{languages.strings(language, 'joggys')}
        td #{languages.strings(language, 'longeJump')}
        td #{languages.strings(language, 'vUps')}
        td #{languages.strings(language, 'inchworms')}
        td #{languages.strings(language, 'bottoms')}
        td #{languages.strings(language, 'trusters')}
        td #{languages.strings(language, 'wallBall')}
        td #{languages.strings(language, 'jJacks')}
        td #{languages.strings(language, 'sideSuicides')}
        td #{languages.strings(language, 'jumpLenght1')}
        td #{languages.strings(language, 'jumpLenght2')}
        td #{languages.strings(language, 'jumpLenght3')}
        td #{languages.strings(language, 'createdBy')}
    tbody
      if(tests_)
        each item in data.tests
          tr
            td #{item._id}
            td #{formatDateTime(item.createdAt)}
            td #{item.squats}
            td #{item.pushUps}
            td #{item.sitUps}
            td #{item.burpees}
            td #{item.joggys}
            td #{item.longeJump}
            td #{item.vUps}
            td #{item.inchworms}
            td #{item.bottoms}
            td #{item.trusters}
            td #{item.wallBall}
            td #{item.jJacks}
            td #{item.sideSuicides}
            td #{item.jumpLenght1}
            td #{item.jumpLenght2}
            td #{item.jumpLenght3}
            td #{item.createdBy.name + ' ' + item.createdBy.lastName}
  .actions
    if(roleSystem_ || roleReceptionist_)
      button.ui.button.inline#showTests
        i.icon.plus
        | #{languages.strings(language, 'add')}
