.ui.modal.large#modalTests
  .content
    .section.info
      form.ui.form#formTests(method="post")
        .fields
          .four.wide.field
            .field.required#squats_
              label #{languages.strings(language, 'squats')}
              input#squats(type="text", name="squats", placeholder=languages.strings(language, 'squats'), value="", autofocus)
          .four.wide.field
            .field.required#pushUps_
              label #{languages.strings(language, 'pushUps')}
              input#pushUps(type="text", name="pushUps", placeholder=languages.strings(language, 'pushUps'), value="")
          .four.wide.field
            .field.required#sitUps_
              label #{languages.strings(language, 'sitUps')}
              input#sitUps(type="text", name="sitUps", placeholder=languages.strings(language, 'sitUps'), value="")
          .four.wide.field
            .field.required#burpees_
              label #{languages.strings(language, 'burpees')}
              input#burpees(type="text", name="burpees", placeholder=languages.strings(language, 'burpees'), value="")
        .fields
          .four.wide.field
            .field.required#joggys_
              label #{languages.strings(language, 'joggys')}
              input#joggys(type="text", name="joggys", placeholder=languages.strings(language, 'joggys'), value="")
          .four.wide.field
            .field#longeJump_
              label #{languages.strings(language, 'longeJump')}
              input#longeJump(type="text", name="longeJump", placeholder=languages.strings(language, 'longeJump'), value="")
          .four.wide.field
            .field#vUps_
              label #{languages.strings(language, 'vUps')}
              input#vUps(type="text", name="vUps", placeholder=languages.strings(language, 'vUps'), value="")
          .four.wide.field
            .field#inchworms_
              label #{languages.strings(language, 'inchworms')}
              input#inchworms(type="text", name="inchworms", placeholder=languages.strings(language, 'inchworms'), value="")
        .fields
          .four.wide.field
            .field#bottoms_
              label #{languages.strings(language, 'bottoms')}
              input#bottoms(type="text", name="bottoms", placeholder=languages.strings(language, 'bottoms'), value="")
          .four.wide.field
            .field#trusters_
              label #{languages.strings(language, 'trusters')}
              input#trusters(type="text", name="trusters", placeholder=languages.strings(language, 'trusters'), value="")
          .four.wide.field
            .field#wallBall_
              label #{languages.strings(language, 'wallBall')}
              input#wallBall(type="text", name="wallBall", placeholder=languages.strings(language, 'wallBall'), value="")
          .four.wide.field
            .field#jJacks_
              label #{languages.strings(language, 'jJacks')}
              input#jJacks(type="text", name="jJacks", placeholder=languages.strings(language, 'jJacks'), value="")
        .fields
          .four.wide.field
            .field#sideSuicides_
              label #{languages.strings(language, 'sideSuicides')}
              input#sideSuicides(type="text", name="sideSuicides", placeholder=languages.strings(language, 'sideSuicides'), value="")
          .four.wide.field
            .field#jumpLenght1_
              label #{languages.strings(language, 'jumpLenght1')}
              input#jumpLenght1(type="text", name="jumpLenght1", placeholder=languages.strings(language, 'jumpLenght1'), value="")
          .four.wide.field
            .field#jumpLenght2_
              label #{languages.strings(language, 'jumpLenght2')}
              input#jumpLenght2(type="text", name="jumpLenght2", placeholder=languages.strings(language, 'jumpLenght2'), value="")
          .four.wide.field
            .field#jumpLenght3_
              label #{languages.strings(language, 'jumpLenght3')}
              input#jumpLenght3(type="text", name="jumpLenght3", placeholder=languages.strings(language, 'jumpLenght3'), value="")
      .actions
        button.ui.button#addTests
          i.icon.plus
          | #{languages.strings(language, 'add')}
        button.ui.cancel.button
          i.icon.cancel
          | #{languages.strings(language, 'cancel')}
