// Import declarations.
@import 'general.styl'
// Main declarations.
body
	background-color whiteColorA
.inner
	background-color whiteColorA
	position relative
.inside
	padding itemSize100
// Header declarations.
#header
	width 100%
	padding 0
	border none
	border-radius(0)
	box-shadow(none)
	& .logo
		height headerHeight
		padding "calc((%s - %s) / 2)" % (headerHeight logoHeight)
		& img
			height logoHeight
			margin 0 auto
// Sidebar declarations.
#sidebar
	color whiteColorA
	background mainColorB
	width sidebarWidth
	height 100%
	min-height 100%
	margin 0
	padding 0
	border none
	border-radius(0)
	box-shadow(0 0 itemSize100 rgba(mainColorB, 0.50))
	display inline-block
	vertical-align top
	position fixed
	overflow auto
	& .item
		padding itemSize125 itemSize200
		&:before
			background-color transparent
		&:last-child
			border-radius(0)
		&.card
			padding itemSize200
			& .avatar
				width itemSize1000
				height itemSize1000
				margin 0 auto
				display block
			& .header
				color whiteColorA
				font-family('Montserrat')
				font-weight normal
				text-align center
				margin itemSize200 0 0 0
			& .meta
				text-align center
				margin itemSize100
			& .button
				color whiteColorA
				padding itemSize025
				&:hover
					color mainColorA
		&.header
			font-family('Montserrat')
			font-size itemSize100
			font-weight normal
			color whiteColorA
			background mainColorC
		&.button
			font-family('Montserrat')
			font-size itemSize090
			font-weight normal
			color whiteColorA
			text-transform uppercase
			&:hover
				color whiteColorA
				background-color mainColorA
			&.active
				color whiteColorA
				background-color mainColorA
			&:active
				color whiteColorC
				background-color mainColorA
// Admin declarations.
#content, .modal
	width "calc(100% - %s)" % (sidebarWidth)
	height auto
	padding itemSize200
	border none
	border-radius(0)
	box-shadow(none)
	display inline-block
	vertical-align top
	margin-left sidebarWidth
	& .preview
		margin-bottom itemSize100
		border solid 1px whiteColorC
	& .ui.comments
		padding-bottom itemSize200
		border-bottom solid 1px whiteColorC
	& .header
		padding 0 0 itemSize200 0
		& .title
			font-family('Montserrat')
			font-size itemSize150
			& .description
				font-size itemSize125
				margin itemSize050
				display	inline-block
		& .breadcrumb
			font-family('Montserrat')
			font-weight normal
			margin - itemSize125 0 0 0
			float right
			& a
				color mainColorC
				&:hover
					color mainColorA
	& .header.sub.inn
		padding itemSize100 0 0 0
	& .actions#fixed
		padding itemSize200 0 itemSize200 0
		margin 0 0 itemSize200 0
		border none
	& .dateFilter
		display inline-block
		vertical-align top
		& input
			width 40%
			margin-left 10%
	& .button, & .buttons .button
		color whiteColorA
		background-color mainColorA
		text-transform uppercase
		font-size itemSize090
		font-weight normal
		border-radius(0)
		padding itemSize150 itemSize300
		box-shadow(none)
		&:hover
			color whiteColorA
			background-color mainColorA
			box-shadow(none)
		&:active
			color whiteColorA
			background-color mainColorA
			box-shadow(none)
		&.inline
			color mainColorA
			background none
			border none
			padding itemSize125
			&:hover
				color mainColorB
	& .secondary.menu
		border-bottom solid 1px rgba(mainColorC, .15)
		& .item
			border-bottom solid 1px transparent
			font-size itemSize090
			font-weight normal
			text-transform uppercase
			&.active
				border-bottom solid 1px mainColorB
			&:hover
				border-bottom solid 1px mainColorB
	& #message
		color mainColorB
		background transparent
		padding itemSize100
		display none
		box-shadow(none)
	& .form, .ui.form
		& .selection
			background-color whiteColorA
		& .dividing
			margin 0 0 itemSize200 0
		& label
			font-family('Montserrat')
			font-size itemSize090
			color mainColorB
			padding 0
			text-transform uppercase
		& .basic.label
			background-color transparent
			border-bottom solid 1px rgba(mainColorC, .15)
			border-radius(0)
			padding-top itemSize100
			padding-right 0
		& input
			padding itemSize100
			border-top none
			border-right none
			border-left none
			border-radius(0)
			&[type=text], &[type=email], &[type=search], &[type=password], &[type=date], &[type=datetime-local], &[type=tel], &[type=time], &[type=url], &[type=number]
				font-size itemSize100
				background-color whiteColorA
		& textarea, & .dropdown
			padding itemSize100
			border-top solid 2px transparent
			border-right none
			border-left none
			border-radius(0)
		& .selector span
			font-family('Montserrat')
			font-size itemSize100
			padding-left itemSize050
		& #avatar, #file, #front, #back, #ine, #confidentialityAgreement, #temporalContract, #permanentContract, #studySheet, #resignationLetter
			display none
		& #file_
			display inline-block
			float right
		& img.thumbnail
			width itemSize400
			height auto
			padding 0
			margin 0 itemSize100 0 0
			display inline-block
		& .error
			& textarea, & .dropdown
				background transparent
				border-top solid 2px transparent!important
		& .dropdown.active .menu
			border none
			box-shadow(none)
		& .field
			margin 0 0 itemSize100 0
		& .check
			padding-top itemSize050
			width 100%
		& .check label
			padding 0 itemSize175
		& .check p, & .checkp p
			margin-top itemSize100
			text-transform none
			font-size itemSize100
		& .checkp .download
			display inline-block
		& .ui.selection.dropdown .menu
			max-height itemSize3000
		& .ui.dropdown .menu>.disabled.item
			color #000000
			background #ccc
			opacity 1
		& #messages
			& .content
				padding 0 itemSize075
				border-left solid 4px transparent
				&.status_pending
					border-left-color yellowColorA
				&.status_approved
					border-left-color mainColorA
				&.status_rejected
					border-left-color redColorA
					opacity 0.50
		& .block
			max-height itemSize2000
			display block
			overflow auto
			& table
				padding 0
				margin 0
				border none
				border-bottom solid 1px whiteColorC
				& tbody td
					padding itemSize100
					& a
						font-family('Montserrat')
						font-size itemSize100
						color mainColorC
						background-color transparent
						border 1px solid transparent
						padding 0
						margin 0 itemSize025
						&:hover
							color mainColorA
		& .hidden
			display none
		& .avatar img
			width itemSize300
			height itemSize300
			line-height itemSize300
			display inline-block
		& .none
			display none
	& .section.info
		background-color whiteColorA
		padding 0
		margin-bottom 2rem
		border none
	& .tab .section.info
		padding 2rem 1rem 1rem 1rem
		margin-bottom 0
		border none
	& .attached
		padding 0
		border none
	& .dataTables_wrapper
		& .grid.form
			padding 0
			margin 0 0 itemSize200 0
			& .column
				padding 0
		& .dataTable
			padding 0
			margin 0 0 itemSize200 0
			border none
			& thead tr
				font-family('Montserrat')
				font-size itemSize090
				font-weight normal
				color mainColorB
				text-transform uppercase
				& .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled
					background-color transparent
				& .sorting, .sorting_asc, .sorting_desc
					&:after
						font-family 'icons'
						font-size itemSize125
						font-weight bold
						color mainColorA
						float right
				& .sorting:after
					color mainColorC
					content "\f106"
				& .sorting_asc:after
					content "\f106"
				& .sorting_desc:after
					content "\f107"
			& thead td
				padding itemSize125 itemSize200
				&:hover
					cursor pointer
			& tbody tr
				cursor pointer
				& a
					color mainColorC
					&:hover
						color mainColorA
				&:hover
					color mainColorB
					background-color whiteColorB
				&:active
					color whiteColorA
					background-color mainColorA
					& a
						color whiteColorA
			& tbody td
				padding itemSize125 itemSize200
				border-left solid 4px transparent
				&.status_pending
					border-left-color yellowColorA
				&.status_quote
					border-left-color redColorA
				&.status_toPay
					border-left-color redColorA
				&.status_active
					border-left-color mainColorC
				&.status_finished
					border-left-color mainColorA
				&.title
					text-transform uppercase
					font-weight bold
			& tfoot td
				padding 0 itemSize100
				& input
					padding itemSize100
					border-top none
					border-right none
					border-left none
					border-radius(0)
					width 100%
					&[type=text], &[type=email], &[type=search], &[type=password], &[type=date], &[type=datetime-local], &[type=tel], &[type=time], &[type=url], &[type=number]
						font-size itemSize100
						background-color whiteColorA
				& .dropdown
					padding itemSize100
					border-top solid 2px transparent
					border-right none
					border-left none
					border-radius(0)
					&.active .menu
						border none
						box-shadow(none)
			& .details
				width 100%
				& .key
					width 25%
					text-transform uppercase
					font-size itemSize090
				& .value
					width 25%
			& .button, & .buttons .button, & a
				font-size itemSize100
				color mainColorC
				background-color transparent
				border 1px solid transparent
				padding itemSize025 0
				margin 0 itemSize025
				&:hover
					color mainColorA
				&:active
					color whiteColorA
			& .hidden
				display none
			& .center
				text-align center
			& .padding
				padding 0
		& .dataTables_length, .dataTables_filter
			& label
				font-size itemSize100
				margin itemSize100
				display inline-block
				vertical-align bottom
		& .dataTables_filter label
			display none
		& .dropdown, & #table_filter_input
			width auto
			padding itemSize100
			& .menu .item
				border none
		& .right
			text-align right
		& .dataTables_info
			font-size itemSize100
			padding-top itemSize075
			padding-left itemSize125
			display inline-block
		& .menu.pagination
			box-shadow none
			& .item
				color mainColorA
				border solid 1px mainColorA
				&.active, .active:hover
					color whiteColorA
					background-color mainColorA
				&:hover
					color whiteColorA
					background-color mainColorA
				&:last-child, &:first-child
					border-radius(0)
	& .ui.basic.buttons
		border none
		& .ui.button
			&.buttons-copy, &.buttons-print
				font-size itemSize090
				color mainColorB!important
				background-color transparent
				padding itemSize100 itemSize025
				margin 0 itemSize075
				&:hover
					color mainColorA!important
				&:active
					color whiteColorA!important
.modal
	& .actions
		background-color transparent!important
		border-top none!important
	& .section.info
		padding 2rem 1rem 1rem 1rem
		margin-bottom 0
		border none
	& .checkbox
		padding 1rem 0
		& label
			padding 0 4rem 0 2rem!important
			text-transform none!important
// Footer declarations.
#footer
	background-color mainColorB
	width 100%
	padding 0
	border none
	border-radius(0)
	box-shadow(none)
