// Variable declarations.
mainColorA = #DD002A // #14C8F2 // #DD002A // 221,0,42
mainColorB = #0A0D17 // 10,13,23
mainColorC = #151D28 // 21,29,40
mainColorD = #252D38 // 37,45,56
whiteColorA = #FFFFFF // 255,255,255
whiteColorB = #F8F8F8
whiteColorC = #DCDCDC
yellowColorA = #FFFF33
redColorA = #FF0000
headerHeight = 90px
logoHeight = 50px
maxWidth = 1600px
minWidth = 1024px
innerMaxWidth = 1600px
innerMinWidth = 1024px
sidebarWidth = 220px
itemSize025 = 0.25rem
itemSize050 = 0.5rem
itemSize075 = 0.75rem
itemSize085 = 0.85rem
itemSize090 = 0.90rem
itemSize095 = 0.95rem
itemSize100 = 1rem
itemSize105 = 1.05rem
itemSize115 = 1.15rem
itemSize125 = 1.25rem
itemSize140 = 1.4rem
itemSize150 = 1.5rem
itemSize175 = 1.75rem
itemSize200 = 2rem
itemSize225 = 2.25rem
itemSize250 = 2.5rem
itemSize275 = 2.75rem
itemSize300 = 3rem
itemSize325 = 3.25rem
itemSize355 = 3.55rem
itemSize350 = 3.5rem
itemSize375 = 3.75rem
itemSize400 = 4rem
itemSize400 = 4rem
itemSize500 = 5rem
itemSize600 = 6rem
itemSize700 = 7rem
itemSize800 = 8rem
itemSize900 = 9rem
itemSize1000 = 10rem
itemSize2000 = 20rem
itemSize2500 = 25rem
itemSize3000 = 30rem
itemSize3500 = 35rem
itemSize4000 = 40rem
itemSize4500 = 45rem
itemSize5000 = 50rem
itemSize6000 = 60rem
itemSize7000 = 70rem
itemSize8000 = 80rem
itemSize9000 = 90rem
itemSize10000 = 100rem
// Mixin declarations.
border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n
box-shadow(a)
	-webkit-box-shadow a
	-moz-box-shadow a
	box-shadow a
animate(a)
	-moz-animate a
	-webkit-animate a
	-o-animate a
	-khtml-animate a
	animate a
transition(n)
	-moz-transition n
	-webkit-transition n
	-o-transition n
	-khtml-transition n
	transition n
font-family(a)
	font-family a, 'Helvetica Neue', Arial, Helvetica, sans-serif
// Styles declarations.
*
	-webkit-font-smoothing antialiased
html
	background-color whiteColorA
	overflow-y hidden
html, body
	font-size 12px
	height 100%
	min-height 100%
	min-width minWidth
body
	color mainColorD
	width 100%
	background-color whiteColorA
	overflow-y scroll
	overflow-x hidden
#main
	margin 0 auto
	width 100%
	max-width maxWidth
	min-width minWidth
#header, #content, #footer
	margin 0 auto
.inner
	width 100%
	max-width innerMaxWidth
	min-width innerMinWidth
	margin 0 auto
	padding 0
a, input, select, textarea, tr, td
	&:focus
		outline-style solid
		outline-color transparent
a, button, label, .ui.button, .ui.label
	font-weight normal
p
	text-align justify
li
	padding-bottom itemSize100
.ui.form input
	&[type=text], &[type=email], &[type=search], &[type=password], &[type=date], &[type=datetime-local], &[type=tel], &[type=time], &[type=url], &[type=number]
		padding itemSize100
.ui.dropdown
	padding itemSize100!important
.ui.button, .ui.buttons .ui.button
	color mainColorB
	background-color mainColorA
	border 1px solid transparent
	padding itemSize125 itemSize200
	text-align center
	&:hover
		color whiteColorA
		background-color mainColorC
	&:active
		color whiteColorA
		background-color mainColorA
.center
	text-align center
// Forms declarations.
input#name, input#lastName, input#city, input#state, input#address
	text-transform capitalize
input#email
	text-transform lowercase
input#phone, input#emergencyPhone, input#postCode, input#nss, input#curp, input#rfc
	text-transform uppercase
input
	input-placeholder-text-transform(capitalize)
::-webkit-input-placeholder
	text-transform initial
:-moz-placeholder
	text-transform initial
::-moz-placeholder
	text-transform initial
:-ms-input-placeholder
	text-transform initial
.unselectable
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
