// Import declarations.
@import 'general.styl'
// Secure declarations.
html
	background-color mainColorC
body
	background-color transparent
#main
	background-color whiteColorA
	width 100%
	max-width itemSize4500
	min-width itemSize2000
	margin itemSize400 auto 0 auto
	padding itemSize400
	box-shadow(0 0 itemSize100 rgba(mainColorB, 0.50))
	& .ui.header
		text-align center
		& .logo
			width auto
			height headerHeight * 2
			margin 0 auto
			& img
				width auto
				height headerHeight * 2
				margin 0 auto
				opacity 1 // 0 // 1
		& .title
			font-size itemSize100
			color mainColorA
			padding itemSize050 0
			text-transform uppercase
			& .description
				color mainColorB
				padding itemSize100 0
				text-transform none
	& .form, .ui.form
		max-width itemSize2500
		margin 0 auto
		& .button, & .buttons .button, & a
			color whiteColorA
			background-color mainColorA
			text-transform uppercase
			font-size itemSize090
			font-weight normal
			border-radius(0)
			padding itemSize150 itemSize300
			box-shadow(none)
			margin 0 auto
			display block
			&:hover
				color whiteColorA
				background-color mainColorB
				box-shadow(none)
			&:active
				color whiteColorA
				background-color mainColorB
				box-shadow(none)
		& .ui.message
			color mainColorB
			background-color transparent
			padding itemSize100 0
			margin-top 0
			box-shadow(none)
			display none
		&.loading:before
			background-color rgba(whiteColorA, .85);
		& label
			font-family('Montserrat')
			font-size itemSize090
			color mainColorB
			padding 0
			text-transform uppercase
		& input
			padding itemSize100
			border-top none
			border-right none
			border-left none
			border-radius(0)
			&[type=text], &[type=email], &[type=search], &[type=password], &[type=date], &[type=datetime-local], &[type=tel], &[type=time], &[type=url], &[type=number]
				font-size itemSize100
				background-color whiteColorA
		& .field
			margin 0 0 itemSize100 0
	& .ui.message
		font-size itemSize090
		color mainColorB
		background-color transparent
		padding itemSize050 0
		text-align center
		box-shadow(none)
		margin-top itemSize225
		& a
			color mainColorB
			&:hover
				color mainColorA
			&.left
				float left
			&.right
				float right
	& .section.info
		background-color whiteColorA
		padding 0
		margin-bottom 2rem
		border none
